openapi: 3.0.0
info:
  title: The Bria API
  version: ''
  contact:
    name: We are happy to answer any questions you may have at
    email: support@bria.ai
  description: >
    # Introduction
    
    
    The Bria API is intended for users to interact with BriEngine and perform various operations, 
    such as generating new images, customizing uploaded images, and searching. 
    
    This document will provide an overview of the API's capabilities and guide users on how to effectively implement it.


    **The common use of the Bria API is according to the following order:**
      - /upload - By using the *Upload Route*, you can upload a new image to the Bria database.
      - /register - By using the *Register Route*, a new image can be sent to Bria without being uploaded to the database.
      - /text-to-image - By using the *Image Generate* route, you can generate any image you would like, based on the provided prompt.

    
    With the response from the *Upload/Register Routes* (visual_id), the following routes can be used without any particular order:
      - /info - By using the *Info Route*, you can understand the possible changes for each object in the image. 
        The following routes can be used if you do not require information for people, objects, and background, but rather only one of them:
         - /person/info
         - /objects/info
         - /background/info
      - /increase_resolution - The *Increase Resolution route* is used to upsacle any image. 
      - /image_to_psd - The *Image To Psd route* is used to create a layered psd file out of any image.
      - /mask_generator - By using the *Mask Generator*, you can get all the available masks for an image, a segmentation for the image. 
      - /search - Utilizing the *Search Route* to look for images you uploaded or registered to Bria that match a text query. 
      - /search_similar_images - Utilizing the *Search Similar Images Route* to look for images you uploaded or registered to Bria that match the chosen image.
      - /caption - By using the *Caption Route*, you can get a caption that describes the given image.
      - /crop - The *Crop Route* is used to crop an image without a background, tightly around the remaining region of interest.

      
    With the response from the *Info Routes*, the following routes can be used without any particular order:
      - /create - Using the *Create Route* to create a new visual with requested changes of elements according to the /info route possibilities. 
      - /recast_model - Using the *Recast Model Route* to create a new variation of your image, while customizing a portrait to any profession/theme
      - /remove_object - Using the *Remove Object Route* to remove the objects from an image. You can also use this route with any mask, that is created manually by a user or generated by the /mask_generator endpoint.
      - background/remove - Using the *Remove BG Route* to remove the background of an image.
      - background/blur - Using the *Blur BG Route* to create a blur effect on the background of an image.
      - /replace_bg - Using the *Replace BG Route* to generate new backgrounds for an image.
      
        
    # Quality Predictions

    
    The "Oracle" capability within the API can significantly elevate the user experience by offering quality prediction functionalities. 

    
    With the Oracle integrated into your product, you can ensure optimal outcomes for your end users. 

    
    This feature covers various endpoints, including /create, /remove_object, and background operations, providing you with a range of quality prediction options to enhance your product's capabilities.

    
    The orcale value predicts the quality of the result, for each possible action.

    
    By using the "info" for all endpoints, "person/info" endpoint for face modifications, "objects/info" for object removal, and "background/info" for background actions, you can access the Oracle's predictions, and help your users to make informed decisions. 
    
    
    Incorporating Oracle predictions into the API workflow enhances efficiency, minimizes errors, and fosters an optimized API experience.   


    # Authentication

      The Bria API consists of a number of methods for uploading and creating new visual assets. The REST (representational state transfer) API methods can be called directly from within your own custom code.

        curl --location --request POST 'https://engine.prod.bria-api.com/v1' \
        --header: 'api_token: <...>' \
        ...
        
    # API Access
    
      You can register and access the API Token through Bria's platform <a href="https://labs.bria.ai/api-plans/" target="_blank">by clicking here</a>.
      
externalDocs:
    description: Register and get API Access
    url: 'https://labs.bria.ai/api-plans'
servers:
  - url: https://engine.prod.bria-api.com/v1
paths:
  /generation/gaia-v1/text-to-image:
    post:
      tags:
        - Image
      summary: Text to Image
      description: >-


        **Description**
        

        The *Image Generation Route* allows you to generate images based on any given text prompt. 
        
        
        2048 x 2048 pixels will be the size of the generated images.
        
        
        
        Here are some examples:
        
        
        **prompt:** alien world
        
        
        **style:** photo realistic
           
           
        **atmosphere:** dramatic
           
           
        **camera:** portrait
           
           
        **medium:** photography
           
           
        **results:**
           
        <img src="https://images.bria.ai/images_resized/c7700f41fe4f2171.jpg" width="200" height="200"/> <img src="https://images.bria.ai/images_resized/a5be5a25a41e6b25.jpg" width="200" height="200"/>
        <img src="https://images.bria.ai/images_resized/b31d95e14cf36f00.jpg" width="200" height="200"/> <img src="https://images.bria.ai/images_resized/d9db8c0f605352ce.jpg" width="200" height="200"/>
        
        
        **prompt:** owl wearing a hat
        
        
        **style:** fashion
           
           
        **atmosphere:** vivid
           
           
        **camera:** close up
           
           
        **medium:** art
           
           
        **results:**
        
        
        <img src="https://images.bria.ai/images_resized/b59b21373eaf2103.jpg" width="200" height="200"/> <img src="https://images.bria.ai/images_resized/af5b3e8c81d1c4cc.jpg" width="200" height="200"/>
        <img src="https://images.bria.ai/images_resized/e59a19cd1a36616e.jpg" width="200" height="200"/> <img src="https://images.bria.ai/images_resized/e0f12375d0b4b1ae.jpg" width="200" height="200"/>
           
           
      operationId: /generation/gaia-v1/text-to-image
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: The prompt you would like to use to generate images
                num_results:
                  type: integer
                  description: How many images you would like to generate. The default and maximum value is 4. 
                style:   
                  type: string
                  enum: ['photo realistic','fashion','retro','sports','still life','hyper realistic','travel','artistic','3d render','realistic','fantasy','comic book','minimalistic']
                  description: Which style you would like to see in your generated images.
                atmosphere:
                  type: string
                  enum: ['dramatic','vivid','warm','cool']
                  description: Which atmosphere you would like to get in your generated images.
                camera:
                  type: string
                  enum: ['portrait','close up','aerial','landscape']
                  description: Which camera angle you would like to see in your generated images.
                medium:
                  type: string
                  enum: ['photography','art']
                  description: Which medium should be included in your generated images.
                sync:
                  type: boolean
                  description: Please use the value true. 
                seed:
                  type: integer
                  description: You can choose whether you want your generated result to be random or predictable. You can recreate the same result in the future by using the seed value of a result from the response with the prompt. You can exclude this parameter if you are not interested in recreating your results. This parameter is optional.
                negative_prompt:
                  type: string
                  description: This parameter is optional.
            examples:
              valid prompt:
                value:
                  prompt: "alien world"
                  num_results: 1
                  style: "photo realistic"
                  atmosphere: "dramatic"
                  camera: "portrait"
                  medium: "photography"
                  sync: true
              inappropriate prompt:
                value:
                  prompt: "sensual"
                  num_results: 1
                  style: "photo realistic"
                  atmosphere: "dramatic"
                  camera: "portrait"
                  medium: "photography"
                  sync: true
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    description: there are multiple objects in this array (based on the amount specified in num_results) and each object represents a single image. 
                    items:
                      type: object
                      properties:
                        seed:
                          type: integer
                          description: If you want to recreate the result again, you should use in the request the prompt and the seed of the response. 
                        urls:
                          type: string
                          description: This is the URL where the generated image can be found. Bria recognizes offensive and inappropriate images. The URL will lead to a 0-byte file if an image like that is generated. It will take a few seconds for the image to become available via this URL if sync=false.
              examples:
                valid prompt:
                  value:
                    results:  [
                                {
                                  "seed": 1525972691,
                                  "urls": "https://bria-temp.s3.amazonaws.com/api/generate_image/a_4k_symmetrical_portrait_of_a_woman_traveling_in_the_world_realistic_soft_natural_lighting_85mm_lens_photography_dramatic_lighting_photo_realism_High_contrast_shadows/seed_1109401663.jpg?AWSAccessKeyId=ASIAUL5JH7ABJT4HG6MN&Signature=DOKLVPYHKHbe7bA3hEl262EabLk%3D&x-amz-security-token=FwoGZXIvYXdzEND%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDEl1%2FfpVCJkRvEKkJyKYBBTbjfsDBPKMZsYVU8tO3MMNCxvwAgtzUCvoxqOtEXYmVfCABwvF3jgvXCHup%2BdG3QYV7jHEfAgBLWI%2BMGI%2F%2FntPwdsdsMTxKhSJgymaUq8n8O4GmCSExT5o34U1uhAFpr2YPbrQWdYfuo%2FKIWGTHoBbikLf14yb1sa%2FicwMeVItzrTk%2FSvPAuJCSJh3Mnq%2BlXSSuviKpyMB226UjZPZ6zUYnSwwDHlQFueVRTJopaPvDh8LBlFQIiZqSxRDFqZDCC00rVv17pbD2tRT0kpVoAhE2QXIGzKiErsPJwsWYhOSra2idSUI3gRCHcJpvuTz2ZNBlY1G%2B%2BzJ%2B07LAkXQT4ppBbpO%2BUvo8pN4aTDvvsztgp2pK6wjWCKUBsRcdhpJ96W%2FzK5BepEflzbG%2BWyVaUuIgpd4OAVY4ieR%2BEDPCVqwb2J3tHWPLK1mnLFAKF5%2Fe68pnRpfLHqjl5h03IK5xbWWJZOCThQx%2FHJtA8EWqNUF372GmAKhfpDvc%2BxitjeV5ym4HZRBeCYTiPnM190yLNklriyXxzLFUxWp28B3mm77%2BFK82%2B3PYxWmFPn9WAWZ%2Fa9FszXNfJ7q%2FtjzvophCsww9psYvhgM9LTgXXUgM6CgVL1OP5qxUAEYuV5Hrg3QSWKchrYh0aMrjrOygBxIXhBj6VDkvVdqg4snlS0cTdgjFZTHDZBvFwLN380Vn0233AV%2FjSJGJzyCKPGR5aAGMirgAQFta0KzQHT52sAvNtD6xfYgB1LU6TLR7AL7Ei%2BmPgZ77VVPe8dRuh8%3D&Expires=1680245340"
                                }
                              ]
                inappropriate prompt:
                  value:
                    results:  [
                                {
                                  "description": "Query doesn't stand with Bria's ethic rules",
                                  "error_code": "408"
                                }
                              ]
        '400':
          description: Bad request.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
        '512':
          description: Insufficient resources to process the request.

  /upload:
    post:
      tags:
        - Image Onboarding
      summary: Upload Image
      description: >-

        **Description**


        The *Upload Route* is used to upload visuals to the database. 

        This route returns a visual identification to the user. It's
        the first step for consuming the Bria API for new visuals.


        **Response**

        
          The visual id in the response of the *Upload Route* must be kept by the
        user in order to query image info, modify the image and use the search routes.


        ```{ "visual_id": "9ea9a4d2d19977a7c" }```


        The *visual_id* in the response of the /upload route will be used for all
        other routes.
        Store the visual_id in your database and map it to your image identification method for easy reference


        **Bria generative Web tool**


        The uploaded visual can be seen and used in the Bria generative web tool
        in cases where the tool is licensed as part of the project.


        To do so, the user can access the following url:
        ```https://labs.bria.ai/gallery/{visual_id}```, where the *{visual_id}*
        comes from the response of the */upload route*.



        **Constraints**


        Files should not be larger than 12MB. The status code 413 will be returned if the file exceeds its
        maximum size.
        
        
        The Bria API currently supports only JPEG and PNG files in RGB, RGBA, or CMYK color modes. When the file is of a different type or color mode, the status code 415 will be returned.

        
        **Upload using a file**

        
          In our documentation request example, we demonstrate how to upload an image using a URL.
          
          
          If you want to upload an image from a file, follow the example below:

      
              import requests
      
              url = "https://engine.prod.bria-api.com/v1/upload"
      
              payload = {}
              files=[
                ('file',('image_name.jpeg',open('/path_to_local_file/image_name.jpeg','rb'),'image/jpeg'))
              ]
              headers = {
                'api_token': 'xxxx'
              }
      
              response = requests.request("POST", url, headers=headers, data=payload, files=files)
      
              print(response.text)
       

      operationId: upload
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  description: The file you would like to upload to Bria.
                  type: string
                  format: binary
                image_url:
                  description: The URL of the file you would like to upload to Bria. The URL should lead to an image publicly available online. Either a file or an image_url should be provided. If both are provided, then the route will use image_url.
                  type: string
                is_private:   
                  description: The image can be included in the Bria public gallery (is_private=false) or only in the Bria gallery of your organization (is_private=true). This parameter is optional and the default value is true.
                  type: string
                  default: true
            examples:
                image url:
                  value:
                    image_url: "https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg"
                
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  visual_id:
                    type: string
                    description: Unique visual identification
        '206':
          description: File value was not provided.
        '208':
          description: File already uploaded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  visual_id:
                    type: string
                    description: Unique visual identification
        '400':
          description: Request doesn't contain file part.
        '405':
          description: Method not allowed.
        '413':
          description: Request entity too large.
        '415':
          description: Unsupported media type.
        '460':
          description: Failed to download image.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.   
  /register:
    post:
      tags:
        - Image Onboarding
      summary: Register Image
      description: >-

        **Description**


        A new visual can be registered to Bria without being uploaded to the database using the *Register Route*.
        
        This route returns a visual identification to the user. 
        
        
        It's the first step for consuming the Bria API for new visuals (instead of using the /upload route).


        **Response**

          
          The visual id in the response of the *Register Route* must be kept by the
        user in order to query image info, modify the image and use the search routes.


        ```{ "visual_id": "9ea9a4d2d19977a7c" }```


        The *visual_id* in the response of the /upload route will be used for all
        other routes.
        Store the visual_id in your database and map it to your image identification method for easy reference


        **Bria generative Web tool**


        The registered visual can be seen and used in the Bria generative web tool
        in cases where the tool is licensed as part of the project.


        To do so, the user can access the following url:
        ```https://labs.bria.ai/gallery/{visual_id}```, where the *{visual_id}*
        comes from the response of the */upload route*.



        **Constraints**


        Files should not be larger than 12MB. The status code 413 will be returned if the file exceeds its
        maximum size.
        
        
        The Bria API currently supports only JPEG and PNG files in RGB, RGBA, or CMYK color modes. When the file is of a different type or color mode, the status code 415 will be returned.
        
      operationId: register
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                org_image_key:
                  type: string
                  description: The internal image id in your API, of the image you would like to register to Bria. If accessing your images requires authentication, you will be able to register them using org_image_key only after giving Bria the API authentication information. It is also possible to register images using an org_image_key, without any authentication data.
                image_url:
                  description: The URL of the image you would like to register to Bria. The URL should lead to an image publicly available online. Either an org_image_key or an image_url should be provided. If both are provided, then the route will use image_url and org_image_key will be saved but not used. Images can only be registered using an image_url if they do not require authentication.
                  type: string
                is_private:   
                  description: The image can be included in the Bria public gallery (is_private=false) or only in the Bria gallery of your organization (is_private=true). This parameter is optional and the default value is true.
                  type: string
                  default: true
            examples:
                only image_url:
                  value:
                    image_url: "https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg"
                only org_image_key:
                  value:
                    org_image_key: "12345acbd"
                image_url & org_image_key:
                  value:
                    image_url: "https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg"
                    org_image_key: "12345acbd"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  visual_id:
                    type: string
                    description: Unique visual identification
        '208':
          description: Image already registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  visual_id:
                    type: string
                    description: Unique visual identification
        '400':
          description: Bad request.
        '405':
          description: Method not allowed.
        '460':
          description: Failed to download image.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /{visual_id}/remove_image:
    post:
      tags:
        - Image Onboarding
      summary: Remove Image
      description: >-

        **Description**


        With this route, you can remove an image from the gallery of your organization. The image won't be removed from Bria.

        
      operationId: remove_image
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          schema:
            type: string
          required: true
          example: "b3cecc33cc31cc31"
      responses:
        '200':
          description: Successful operation.
        '400':
          description: Bad request.
        '405':
          description: Method not allowed.
        '460':
          description: Failed to download image.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /{visual_id}/info:
    get:
      tags:
        - Image Onboarding
      summary: General Info
      description: >-



        **Description**


        The *Info Route* is used to retrieve useful information on a specific
        visual that was previously uploaded or registered.

        
        Additionally, it provides the following:
        
        1) A description of each object and element within the scene 
        
        
        2) The available changes, which are supported by the Bria API for each object and element


        3) The Oracle value for each available change. The orcale value predicts the quality of the result, for each possible action. 
        
        The possible oracle values for object removal or background actions are true and false. 
        
        The possible values for person modification are high, medium, and low. 
       


      operationId: info
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
          example: "8487fb411f3c6716"
          description: visual id of the image, received after using the /upload or /register route.
        - in: query
          name: lean
          schema:
            type: boolean
            default: false
          description: Set the value 'true' for this parameter if you wish to receive only the high-level information (currently, this means only the description, org_height, and org_width) from the info route. This parameter is optional and as default the value is 'false'. 
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    description: (Coming Soon) A brief description of the visual
                  org_height:
                    type: integer
                    description: The height of the image
                  org_width:
                    type: integer
                    description: The width of the image
                  scene:
                    type: array
                    description: An array of objects representing each of the elements recognized in the visual.
                    items:
                      type: object
                      properties:
                        actions:
                          type: object
                          description: The available API actions for this specific element, based directly on its type and specificity
                        bg_overlap:
                          type: number
                          description: The percentage of the object's surface that is mutual with the background. This property is only available for elements with the label 'object'.
                        id:
                          type: string
                          description: The id of the element
                        labels:
                          type: array
                          description: The known information about the element, such as age range and gender
                        oracle:
                          type: object
                          description: The predicted quality of the available actions for this specific element
                        rect:
                          type: object
                          description: The location of the element inside the image. x and y represent the upper left corner of the object, and by using the w (width) and h (height) you can create a rectangle around the element.
                        type:
                          type: string
                          description: The type of the element
              examples:
                example:
                  value:
                    description: Coming Soon
                    scene: [
                      {
                        actions: 
                          {
                          "age":[
                             "mid-20",
                             "mid-40",
                             "mid-60"
                          ],
                          "Beard":[
                             "shaved",
                             "medium",
                             "full"
                          ],
                          "diversity":[
                             "africa",
                             "korea",
                             "india",
                             "japan",
                             "sweden",
                             "germany",
                             "russia",
                             "mexico",
                             "brazil",
                             "england",
                             "spain",
                             "france"
                          ],
                          "expression":[
                             "happy",
                             "surprised",
                             "dreaming",
                             "angry",
                             "fear",
                             "contempt",
                             "disgusted",
                             "sad"
                          ],
                          "gender":[
                             "femininity",
                             "masculinity"
                          ],
                          "glasses":[
                             "light",
                             "none",
                             "heavy"
                          ],
                          "hair_line":[
                             "high",
                             "low"
                          ],
                          "haircolor":[
                             "black",
                             "brown",
                             "red",
                             "blond",
                             "gray"
                          ],
                          "makeup":[
                             "light",
                             "heavy",
                             "none"
                          ]
                          },
                        id: a48284e4832c809e4475ad5de7bdd333658e363b417a28991022a6fa79488a6b,
                        labels:
                          [
                            "age_23-35",
                            "calm"
                          ],
                        oracle:
                          {
                            "age":{
                               "age":"high"
                            },
                            "Beard":{
                               "Beard":"high"
                            },
                            "diversity":{
                               "africa":"high",
                               "brazil":"high",
                               "england":"high",
                               "france":"high",
                               "germany":"high",
                               "india":"high",
                               "japan":"high",
                               "korea":"high",
                               "mexico":"high",
                               "russia":"high",
                               "spain":"high",
                               "sweden":"high"
                            },
                            "expression":{
                               "angry":"high",
                               "contempt":"high",
                               "disgusted":"high",
                               "dreaming":"high",
                               "fear":"high",
                               "happy":"high",
                               "surprised":"high"
                            },
                            "gender":{
                               "gender":"high"
                            },
                            "glasses":{
                               "glasses":"high"
                            },
                            "hair_line":{
                               "hair_line":"high"
                            },
                            "haircolor":{
                               "haircolor":"high"
                            }
                         },
                        type: person
                      },
                      {
                          "id": "0a349cbe603a786570d4eec7dd9cf64e568ef72767a5847251b32988a2b99dff",
                          "type": "chair",
                          "labels": [
                              "object"
                          ],
                          "rect": {
                              "x": 647.4609375,
                              "y": 3910.6640625,
                              "w": 1139.53125,
                              "h": 2071.875
                          },
                          "actions": {
                              "remove": [
                                  true
                              ],
                              "replace": [
                                  true
                              ]
                          },
                          "oracle": {
                              "remove": true
                          },
                          "bg_overlap": 0.4
                      },
                      {
                        actions:
                          {
                            "remove":[
                               true
                            ]
                          },
                        id: 26bf1a1e6b7c5a802b804a52be420a14e44c7d4a393d695afb9d58c9f869cac3,
                        labels: null,
                        oracle:
                          {
                            "remove":true
                          },
                        type: background
                                      }
                    ]
        '205':
          description: File hasn’t finished onboarding. Please call /info again until you get 200.
        '400':
          description: One of the details does not meet specification. Please call /info again.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /{visual_id}/background/info:
    get:
      tags:
        - Background
      summary: Background Info
      description: >-



        **Description**


        The *Background/Info Route* is used to retrieve useful information on the background of a specific
        visual that was previously uploaded to the database.

        
        Additionally, it provides the following:

        
        1) The available background actions, which are supported by the Bria API.


        1) The Oracle value for each available action. The orcale value predicts the quality of the result, for each possible action. 
        
        The possible oracle values for background actions are true and false. 
               
        
        This route should be used instead of the main /info route when you are only interested in 
        the available actions for the background of the image. 
        With this route, you will save runtime by only obtaining information that is relevant to your needs.

      operationId: background/info
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
          example: "f49943971e3039c7"
          description: visual id of the image, received after using the /upload or register route.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The id of the background
                    type:
                      type: string
                      description: In this route it will always be 'background'
                    labels:
                      type: array
                      description: In this route currently it's null
                    rect:
                      type: object
                      description: In this route currently it's null
                    actions:
                      type: object
                      description: The available API actions for the background
                    oracle:
                      type: object
                      description: The predicted quality of the available actions for the background
              examples:
                example:
                  value:
                    {
                      "id": "67a9746d4c7939e2753869cdb4330852b6e2472b8110ae1fb59f8c033fc7fe1f",
                      "type": "background",
                      "labels": null,
                      "rect": null,
                      "actions": {
                          "remove": [
                              true
                          ],
                          "blur": [
                              true
                          ],
                          "replace": [
                              true
                          ]
                      },
                      "oracle": {
                          "remove": true,
                          "blur": true,
                          "replace": true
                      }
                  }
        '205':
          description: File hasn’t finished onboarding. Please call /info again until you get 200.
        '400':
          description: One of the details does not meet specification. Please call person/info again.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /{visual_id}/objects/info:
    get:
      tags:
        - Object
      summary: Objects Info
      description: >-



        **Description**


        The *Objects/Info Route* is used to retrieve useful information on the objects in a specific
        visual that was previously uploaded to the database.

        
        Additionally, it provides the following:

        
        1) The available object actions, which are supported by the Bria API.


        1) The Oracle value for each available action. The orcale value predicts the quality of the result, for each possible action. 
        
        The possible oracle values for object actions are true and false. 
               
        
        This route should be used instead of the main /info route when you are only interested in 
        information and available actions for the objects in the image. 
        With this route, you will save runtime by only obtaining information that is relevant to your needs.

      operationId: objects/info
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
          example: "92bf8ce17584de82"
          description: visual id of the image, received after using the /upload or register route.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The id of the object
                    type:
                      type: string
                      description: In this route it will be the type of the object
                    labels:
                      type: array
                      description: In this route it will allways be 'object'
                    rect:
                      type: object
                      description: The location of the object inside the image. x and y represent the upper left corner of the object, and by using the w (width) and h (height) you can create a rectangle around the object.
                    actions:
                      type: object
                      description: The available API actions for this specific object.
                    oracle:
                      type: object
                      description: The predicted quality of the available actions for this specific object
                    bg_overlap:
                      type: number
                      description: The percentage of the object's surface that is mutual with the background.
                      
              examples:
                example:
                  value:
                    [
                      {
                          "id": "d34ef7cf0b4e1ea2e414cdff7ae9ded80162f1f93bb94df709fe29d9df3dbfb5",
                          "type": "dining table",
                          "labels": [
                              "object"
                          ],
                          "rect": {
                              "x": 1294.921875,
                              "y": 4143.75,
                              "w": 2253.1640625,
                              "h": 2071.875
                          },
                          "actions": {
                              "remove": [
                                  true
                              ],
                              "replace": [
                                  true
                              ]
                          },
                          "oracle": {
                              "remove": true
                          },
                          "bg_overlap": 0.4
                      },
                      {
                          "id": "d1b004a7b3b065aa8b98b321b67806cb3e6ca09e596ad6d3f31c625e46e168e2",
                          "type": "potted plant",
                          "labels": [
                              "object"
                          ],
                          "rect": {
                              "x": 4558.125,
                              "y": 2667.5390625,
                              "w": 517.96875,
                              "h": 725.15625
                          },
                          "actions": {
                              "remove": [
                                  true
                              ],
                              "replace": [
                                  true
                              ]
                          },
                          "oracle": {
                              "remove": true
                          },
                          "bg_overlap": 0.67
                      },
                      {
                          "id": "f173a0ad62749dbeb97f8055f51d3d125d4c9c968ee3ae46754e911f3fd12000",
                          "type": "vase",
                          "labels": [
                              "object"
                          ],
                          "rect": {
                              "x": 3366.796875,
                              "y": 2123.671875,
                              "w": 595.6640625,
                              "h": 284.8828125
                          },
                          "actions": {
                              "remove": [
                                  true
                              ],
                              "replace": [
                                  true
                              ]
                          },
                          "oracle": {
                              "remove": true
                          },
                          "bg_overlap": 0.89
                      },
                      {
                          "id": "7a3bd30a268840cc3645abf7b512c3b9b8bc2d55d98aa5f7ef8c1e72348a016c",
                          "type": "potted plant",
                          "labels": [
                              "object"
                          ],
                          "rect": {
                              "x": 3263.203125,
                              "y": 1398.515625,
                              "w": 854.6484375,
                              "h": 751.0546875
                          },
                          "actions": {
                              "remove": [
                                  true
                              ],
                              "replace": [
                                  true
                              ]
                          },
                          "oracle": {
                              "remove": true
                          },
                          "bg_overlap": 1.0
                      },
                      {
                          "id": "0289aaf067a6d7d812738a8d42d17e54ffd2fa79e0decbca46a873018a6d791a",
                          "type": "chair",
                          "labels": [
                              "object"
                          ],
                          "rect": {
                              "x": 2900.625,
                              "y": 3858.8671875,
                              "w": 1502.109375,
                              "h": 2486.25
                          },
                          "actions": {
                              "remove": [
                                  true
                              ],
                              "replace": [
                                  true
                              ]
                          },
                          "oracle": {
                              "remove": true
                          },
                          "bg_overlap": 0.0
                      },
                      {
                          "id": "0a349cbe603a786570d4eec7dd9cf64e568ef72767a5847251b32988a2b99dff",
                          "type": "chair",
                          "labels": [
                              "object"
                          ],
                          "rect": {
                              "x": 647.4609375,
                              "y": 3910.6640625,
                              "w": 1139.53125,
                              "h": 2071.875
                          },
                          "actions": {
                              "remove": [
                                  true
                              ],
                              "replace": [
                                  true
                              ]
                          },
                          "oracle": {
                              "remove": true
                          },
                          "bg_overlap": 0.4
                      }
                  ]
        '205':
          description: File hasn’t finished onboarding. Please call /info again until you get 200.
        '400':
          description: One of the details does not meet specification. Please call objects/info again.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /{visual_id}/objects/mask_generator:
    post:
      tags:
        - Object
        - Image
      summary: Masks Generator
      description: >-



        **Description**


        The *Objects/Mask Generator Route* is used to generate all possible masks for an image.
        

        The response contains a zip file named as the visual_id of the provided image.
        
        
        There are k mask files in the zip, each named with the visual_id and mask_id.
        

        The zip file contains an additional file whose name ends with "panoptic". It's not an image, it's a panoptic map. It can be transformed into a regular matrix.
        
        
        Each point in the image (x,y) is mapped to the mask that applies to that point. In the panoptic map, each pixel's grayscale value includes the mask_id. 
        

        You can display those masks to the user, let them pick one or more masks, and use /remove_object route to remove the masked area.


        In order to use the /remove_object route on the mask the user selected, you should provide the mask_id, and use the paramter mask_source=generated.

        
        You can see below an example of the content of the zip:

        
              92bf8ce17584de82_panoptic.png
      
              
              92bf8ce17584de82_1.png
      
              
              92bf8ce17584de82_2.png
      
              
              92bf8ce17584de82_3.png
      
              
              ...
      
              
              92bf8ce17584de82_86.png


        You can access the SDK that demonstrates how to use this endpoint in a UI in the following <a href="https://github.com/Bria-AI/js-api-sdk/blob/50a062867092788aaa9612f2cc69f7692567115a/mask_hover_ui/template.html" target="_blank">link</a>.

      operationId: objects/mask_generator
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
            example: "92bf8ce17584de82"
          description: visual id of the image, received after using the /upload or register route.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects_masks:
                    type: string
                    example: "https://bria-image-repository.s3.amazonaws.com/mask2click/masks/92bf8ce17584de82.zip?AWSAccessKeyId=AKIAUL5JH7ABJXXBAV6D&Signature=vCX%2BHEAnGmUolwLxKfPBBKPUZaM%3D&Expires=1690732111"
        '400':
          description: Bad request.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /{visual_id}/caption:
    get:
      tags:
        - AI Search
      summary: Get Caption
      description: >-


        **Description**



        The *Caption Route* is used to get a caption that describes the given image.
        

      operationId: caption
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
            example: "8487fb411f3c6716"
          description: visual id of the image for which you'd like a caption
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        caption:
                          type: string
                          example: "woman walking on a bridge in the jungle"
        '400':
          description: Bad request.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.

  /{visual_id}/person/info:
    get:
      tags:
        - AI-Presenter
      summary: Presenter Info
      description: >-



        **Description**


        The *Person/Info Route* is used to retrieve useful information on the people in a specific
        visual that was previously uploaded to the database.

        
        Additionally, it provides a description of each person within the scene 
        along with its available changes, which are supported by the Bria API. 

        
        This route should be used instead of the main /info route when you are only interested in 
        information and available actions for the people in the image. 
        With this route, you will save time by only obtaining information that is relevant to your needs.

      operationId: person/info
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
          example: "f49943971e3039c7"
          description: visual id of the image, received after using the /upload or register route.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    actions:
                      type: object
                      description: The available API actions for this specific person.
                    id:
                      type: string
                      description: The id of the person
                    labels:
                      type: array
                      description: The known information about the person, such as age range and gender
                    oracle:
                      type: object
                      description: The predicted quality of the available actions for this specific person
                    rect:
                      type: object
                      description: The location of the face inside the image. x and y represent the upper left corner of the face, and by using the w (width) and h (height) you can create a rectangle around the face.
                    type:
                      type: string
                      description: In this route it will allways be 'person'
              examples:
                example:
                  value:
                    [
                      {
                        actions:{
                           "age":[
                              "mid-20",
                              "mid-40",
                              "mid-60"
                           ],
                           "Beard":[
                              "shaved",
                              "medium",
                              "full"
                           ],
                           "diversity":[
                              "original",
                              "africa",
                              "korea",
                              "india",
                              "japan",
                              "sweden",
                              "germany",
                              "russia",
                              "mexico",
                              "brazil",
                              "england",
                              "spain",
                              "france",
                              "unsplash"
                           ],
                           "expression":[
                              "happy",
                              "surprised",
                              "dreaming",
                              "angry",
                              "fear",
                              "contempt",
                              "disgusted",
                              "sad",
                              "smile"
                           ],
                           "gender":[
                              "femininity",
                              "masculinity"
                           ],
                           "glasses":[
                              "light",
                              "none",
                              "heavy"
                           ],
                           "hair_line":[
                              "high",
                              "low"
                           ],
                           "haircolor":[
                              "black",
                              "brown",
                              "red",
                              "blond",
                              "gray"
                           ],
                           "makeup":[
                              "light",
                              "heavy",
                              "none"
                           ]
                        },
                        id:"c6bbe1cd719300c11e5c581889e9383245a0c1d923f210a3445e8ea5a25500e0",
                        labels:[
                           "age_14-26",
                           "glasses",
                           "Female"
                        ],
                        oracle:{
                           "age":{
                              "age":"low"
                           },
                           "Beard":{
                              "Beard":"low"
                           },
                           "diversity":{
                              "africa":"low",
                              "brazil":"low",
                              "england":"low",
                              "france":"low",
                              "germany":"low",
                              "india":"low",
                              "japan":"low",
                              "korea":"low",
                              "mexico":"low",
                              "russia":"low",
                              "spain":"low",
                              "sweden":"low"
                           },
                           "expression":{
                              "angry":"high",
                              "calm":"high",
                              "contempt":"high",
                              "disgusted":"high",
                              "dreaming":"high",
                              "fear":"high",
                              "happy":"high",
                              "surprised":"high"
                           },
                           "gender":{
                              "gender":"low"
                           },
                           "glasses":{
                              "glasses":"low"
                           },
                           "hair_line":{
                              "hair_line":"low"
                           },
                           "haircolor":{
                              "haircolor":"low"
                           }
                        },
                        rect:{
                           "h":375.98625326156616,
                           "w":280.4049072265625,
                           "x":1134.1341552734375,
                           "y":290.6307406425476
                        },
                        type:"person"
                     },
                     {
                        actions:{
                           "age":[
                              "mid-20",
                              "mid-40",
                              "mid-60"
                           ],
                           "Beard":[
                              "shaved",
                              "medium",
                              "full"
                           ],
                           "diversity":[
                              "original",
                              "africa",
                              "korea",
                              "india",
                              "japan",
                              "sweden",
                              "germany",
                              "russia",
                              "mexico",
                              "brazil",
                              "england",
                              "spain",
                              "france",
                              "unsplash"
                           ],
                           "expression":[
                              "happy",
                              "surprised",
                              "dreaming",
                              "angry",
                              "fear",
                              "contempt",
                              "disgusted",
                              "sad",
                              "smile"
                           ],
                           "gender":[
                              "femininity",
                              "masculinity"
                           ],
                           "glasses":[
                              "light",
                              "none",
                              "heavy"
                           ],
                           "hair_line":[
                              "high",
                              "low"
                           ],
                           "haircolor":[
                              "black",
                              "brown",
                              "red",
                              "blond",
                              "gray"
                           ],
                           "makeup":[
                              "light",
                              "heavy",
                              "none"
                           ]
                        },
                        id:"d74da71f722b45de5f18f93e9dd7fc64a50a5a5dda001985ab9c2374807182b8",
                        labels:[
                           "age_26-42",
                           "happy",
                           "Female"
                        ],
                        oracle:{
                           "age":{
                              "age":"high"
                           },
                           "Beard":{
                              "Beard":"high"
                           },
                           "diversity":{
                              "africa":"high",
                              "brazil":"high",
                              "england":"high",
                              "france":"high",
                              "germany":"high",
                              "india":"high",
                              "japan":"high",
                              "korea":"high",
                              "mexico":"high",
                              "russia":"high",
                              "spain":"high",
                              "sweden":"high"
                           },
                           "expression":{
                              "angry":"high",
                              "calm":"high",
                              "contempt":"high",
                              "disgusted":"high",
                              "dreaming":"high",
                              "fear":"high",
                              "happy":"high",
                              "surprised":"high"
                           },
                           "gender":{
                              "gender":"high"
                           },
                           "glasses":{
                              "glasses":"high"
                           },
                           "hair_line":{
                              "hair_line":"high"
                           },
                           "haircolor":{
                              "haircolor":"high"
                           }
                        },
                        rect:{
                           "h":354.8530983924866,
                           "w":282.885498046875,
                           "x":555.80419921875,
                           "y":486.4655692577362
                        },
                        type:"person"
                     }
                  ]    
        '205':
          description: File hasn’t finished onboarding. Please call /info again until you get 200.
        '400':
          description: One of the details does not meet specification. Please call person/info again.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /{visual_id}/create:
    post:
      tags:
        - AI-Presenter
      summary: Modify Presenter
      description: >-


        **Description**



        The *Create Route* is used to create a new visual, based on the changes
        requested by the user for a previously uploaded visual.
        
        
        You can also use this route on a modified image by providing the sid from the response of the previously used route.


        This route returns both the URL and the sid associated with the updated image.


        Before making any modifications, please call the /info or person/info route to obtain information on the available presenters in the image, the available modifications, and their oracle values.


        You should always include all the required changes in the request if you want to use multiple changes on a single person. It is not supported to make one request on a person with one change, take the SId from the result, and then use it in another request with a different change.


        When you want to make changes on multiple people, you can make one request with all the desired changes on all the relevant people or make one request with all the desired changes on one person and then use the sid from the response in the request on the other person. 

      operationId: create
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
          example: "8487fb411f3c6716"
          description: visual id of the image the user wants to create a new visual from.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  description: This session id was obtained from the response of a route that had been applied to this visual id. If you have used another route on the provided visual before, and you would like the current route to modify the result of that route, please provide this information. This parameter is optional.
                desired_resolution:
                  type: string
                  description: The desired resolution of the updated image. This parameter is optional.
                  enum: ["original", "nhd", "svga", "xga", "had", "wuxga", "uwfhd", "wqxga", "uwqhd", "uhd"]
                changes:
                  type: array
                  description: The requested changes to the original visual.
                  items:
                    type: object
                    properties: 
                      id:
                        type: string
                        description: Id of the selected object in the image, to which the user would like to make changes.
                      actions:
                        type: object
                        description: The changes the user wishes to perform for this object in the image. Each action the user chooses to use must be included in the info route response for this object and image. This is essential for the /create request to be successful.
                        properties: 
                          age:
                            type: string
                            enum: ["mid-20", "mid-40", "mid-60"]
                            description: Changing the age of a selected person. It is possible to use one of the enum values or to provide a value between -10 and 10. Decimal values are acceptable.
                          diversity:
                            type: string
                            enum:
                              - africa
                              - korea
                              - india
                              - japan
                              - sweden
                              - germany
                              - russia
                              - mexico
                              - brazil
                              - england
                              - spain
                              - france
                            description: Changing the diversity of a selected person. It is possible to use one of the enum values or to provide in addition to the enum a value between 0 and 1. 
                          expression:
                            type: string
                            enum:
                              - happy
                              - surprised
                              - dreaming
                              - angry
                              - fear
                              - contempt
                              - disgusted
                              - sad
                            description: Changing the expression of a selected person. It is possible to use one of the enum values or to provide in addition to the enum a value between 0 and 1.5. 
                          glasses:
                            type: string
                            enum: ["light", "heavy", "none"]
                            description: Changing the glasses of a selected person. It is possible to use one of the enum values or to provide a value between 0 and 6. Only integer values are acceptable.
                          haircolor:
                            type: string
                            enum: ["black", "brown", "red", "blond", "gray"]
                            description: Changing the hair color of a selected person. It is possible to use one of the enum values or to provide a value between 0 and 4. Only integer values are acceptable.
                          gender:
                            type: string
                            enum: ["femininity","masculinity"]
                            description: Changing the gender of a selected person. It is possible to use one of the enum values or to provide a value between -10 and 10. Decimal values are acceptable.
                          makeup:
                            type: string
                            enum: ["light", "heavy", "none"]
                            description: Changing the makeup of a selected person. It is possible to use one of the enum values or to provide a value between -10 and 10. Decimal values are acceptable.
                          hair_line:
                            type: string
                            enum: ["high", "low"]
                            description: Changing the hair line of a selected person. It is possible to use one of the enum values or to provide a value between -20 and 20. Decimal values are acceptable.
                          Beard:
                            type: string
                            enum: ["shaved", "medium", "full"]
                            description: Changing the facial hair of a selected person. It is possible to use one of the enum values or to provide a value between -2 and 2. Decimal values are acceptable.
            examples:
              Using enum values:
                value:
                  changes:
                    [
                      {
                        "id": "c6bbe1cd719300c11e5c581889e9383245a0c1d923f210a3445e8ea5a25500e0",
                        "actions": {
                          "age": "mid-60",
                          "diversity": "france",
                          "expression": "happy"
                        }
                      }
                    ]
              Using continuous numeric values:
                value:
                  changes:
                    [
                      {
                        "id": "c6bbe1cd719300c11e5c581889e9383245a0c1d923f210a3445e8ea5a25500e0",
                        "actions": {
                          "age": {"key":"age","value":6.2},
                          "diversity": {"key":"france","value":0.8},
                          "expression": {"key":"happy","value":0.6}
                        }
                      }
                    ]
              Using enum values and continuous numeric values:
                value:
                  changes:
                    [
                      {
                        "id": "c6bbe1cd719300c11e5c581889e9383245a0c1d923f210a3445e8ea5a25500e0",
                        "actions": {
                          "age": {"key":"age","value":6.2},
                          "diversity": "france",
                          "expression": {"key":"happy","value":0.6}
                        }
                      }
                    ]
              Multiple People:
                value:
                  changes:
                    [
                      {
                        "id": "person_1",
                        "actions": {
                          "age": {"key":"age","value":6.2},
                          "diversity": "france",
                          "expression": {"key":"happy","value":0.6}
                        }
                      },
                      {
                        "id": "person_1",
                        "actions": {
                          "age": {"key":"age","value":6.2},
                          "diversity": "france",
                          "expression": {"key":"happy","value":0.6}
                        }
                      }
                    ]
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  image_res:
                    type: string
                    description: URL that represents the new visual created in the request. It is a temporary URL that will expire
                    example: "https://d1uzvjowrxhw13.cloudfront.net/api/create_results/8487fb411f3c6716_05e8a8dc-b723-11ec-be15-c28fc8b4a55b.JPEG?AWSAccessKeyId=ASIAUL5JH7ABM5GPF244&Signature=OaE%2BTJW%2FBJFDB2xGXpy%2F%2F8TYkAE%3D&x-amz-security-token=FwoGZXIvYXdzEEsaDHAX5TxTwymFAQYSwSKYBK3lKAwEipl9tjg1QQwWMdQDqS%2B0rYkexasgxxW78Vz4DvJUVPISpnTOZk4h%2Fy6%2BikLC5%2FYGY86SL8980ZHZzRgqcodDJ0n6ljB7SgbkfJnSpgx%2F8iCHzoDH%2BS7YrUjnR7e%2FUz%2B4sIbV%2BSHGn36EXTNnrm%2FOgCsiL9vqLSGFEo5R1pLYIbezxWCEWMLcDO5x9WsVoPRYW7c%2B5B%2B1Ku3qybQEBFRex4BVisJU4NTXbwQKFWMbkTjHg5vK%2FEdQn7OzmCA7SfCSHe%2FqDZIBQG0ki%2BHt%2Fs4bAYYTZpl%2FjoUJTldlltdWH2uitj%2BBeyQKcUnHrPjTY1CsAOEC6OV%2FKlZfOjbNJTvlmHc7%2BKP3iICKlCVJwvRK6%2FnmU7mUVOb%2FmgD2kIvBq5G6fNxXQlKfFGZE2lSs8HR83sp44Qz8hm60DPfK45hE0XdVnIS2jY%2F1a%2BYBmijCr4HDTgv52D53CdnOiQ%2BQ8Yld0bBZRC4aDBATcvcsDcnO4BBMY0NS1c%2BSJ6b4IMxDK2OKdanf9EYiDgzr3ebsS1m7j4NX3pEvNC99YF%2B5PQwDYhbMwlMCAG9AMs9%2FF86Al3czOJFOxV1ClBEoUKy2TgntGraCp76UoLmRrHuRq7WKQUvIj2HAXsIlyNkBg3z498M1Gh7vyD%2F7xQgA0Ny6zYeC1gBH4HmYtFlBS%2BJimmxFlCoCuyFhBmUXp7p6oBI3APuSyQYLKLmQwJIGMioiS3mUno68q7GAsD%2FPmSCM8xMeEWF8IegvlU4XWAQuNnQJLVtqwkZb1Qo%3D&Expires=1650276159"
                  sid:
                    type: string
                    example: "aaeec35e-9904-21ed-a479-964fdf514767.JPEG"
                    description: This session id represents the result of the current route request. If you wish to use this result in other routes, please provide this sid in their input.
        '400':
          description: Bad request.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /{visual_id}/recast_model:
    post:
      tags:
        - AI-Presenter
      summary: Recast Presenter
      description: >-


        **Description**



        The *Recast Model Route* is used to create customized and eye-catching images of people that match various themes or professions by modifying their outfit, body structure, hair, and background.
        
        
        This provides an easy and quick way to generate high-quality visuals for businesses, creative projects, or personal use without the need for extensive photography or design work. 
        
        
        The feature is also fun and engaging for social media or entertainment purposes, allowing users to create custom avatars or profile pictures that reflect their personality.
        
        
        You can also use this route on a modified image by providing the sid from the response of the previously used route.
        
        
        This route returns both the URL and the sid associated with the updated image.
      operationId: recast_model
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
            example: "8487fb411f3c6716"
          description: visual id of the image the user wishes to customize.
        - in: query
          name: prompt
          schema:
            type: string
            example: "superhero"
          description: The profession or theme to which you would like to customize your image.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  image_res:
                    type: string
                    description: URL that represents the updated visual created in the request. It is a temporary URL that will expire
                    example: "https://bria-temp.s3.amazonaws.com/engine_no_bg/727b73c6-b723-11ec-947a-c28fc8b4a55b.png?AWSAccessKeyId=ASIAUL5JH7ABNOAGDDHM&Signature=IIZp7MtiAoY32wIq%2BAVoUd7U3XY%3D&x-amz-security-token=FwoGZXIvYXdzEEwaDJNBqgbCH8ZLEjbtwCKYBByHo1V0nSnkoDy3kvaujvGHcNdmw0pYIwWYuvYdnKYv5zmzE4k%2FcgcB8YfY8DXKBOZR9DB%2FpzwoMPYf%2FxDMy4NenzSXw4VymF3j97bTEy6M00j%2BVO3K5fJOpN7iWlrxTaFHQICUW7%2FHE4CvaQ%2FB%2BWoCakNiEESUQxGglIygfJpviyexXNsxNGpeq7BPSSrTdsuD6R27pKmdFgdkL3xzUgMQMKzSeTJL4hUVGVldOp5sI4Qlvwnb8L%2FW7ciHHjUCf8WuHtDjDSdBIAqNci6wtXL6SQwLG%2Fo3oryPr0tNOMsbnrIIoFP5ZnH3VQISPCITBkWuUu9bdXkBm2R7rJyfPPOusFLuom2GDyVEHJfA%2FUtwGELxtv7Co29Tujd2N%2BHRhcdyrNsngwYwU2AiLyopMglYIDNQpv9%2FIKnH9ikuki%2F%2FWQ2PnzepcttQuXzlsqlUJRg%2Fcqhqis%2BxwJXZL1vpPJb%2BJz22oMp%2FJqZw%2BOIBWdxiL0pRq%2FF6EmyQz8iuhVBkr%2BnN5eWWxOrizMLFoVRTP34NPOWvWLwZJlrHzryCY8wZ01u2OLu3jxMcBhwypIp4pCzwx%2BAo39AXU1iMHJq36S6Bl5uptEr1NONKQvvz%2BpndF5t1dnoK7lfD9XExjk16shJXIImqiN7kxP2RTIrKsvm8wJY6iPxE35%2Bn0Cw8BS1eRmXFIOdEcfzbJVq80SQRIMko4CePyoOiKPCRwJIGMipiGM2hMspLQDThPJdlIiCOIh670Q2pu95y27iI3i87WQB55KJ9JNTL39I%3D&Expires=1650276342"
                  message:
                    type: string
                    example: "Finished sucessfully"
                    description: A message that describes the request status. The options are Finished sucessfully, Content might not be safe for work, only 1 face allowed, No face found.
                  sid:
                    type: string
                    example: "aaeec35e-9904-21ed-a479-964fdf514767.JPEG"
                    description: This session id represents the result of the current route request. If you wish to use this result in other routes, please provide this sid in their input.
                  status:
                    type: string
                    example: "SUCCESS"
                    description: The request status. The options are SUCCESS, NSFW, ONE_FACE_ALLOWED, NO_FACES_FOUND.
        '400':
          description: Bad request.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.   
  /{visual_id}/remove_object:
    post:
      tags:
        - Object
      summary: Object Removal
      description: >-
        **Description**




        The *Remove Object Route* is used to remove objects or areas. 


        You can provide the area for removal in the following methods:
        

        
        1) Call the /mask_generator endpoint, display the masks to the user, allow them to select a mask, and then send the mask_id to the /remove_object endpoint. Under the example named generated mask, you can see an example of this type of request.



        2) Allow the user to create a mask manually (by using a brush, for example), and then send the mask_url to the /remove_object endpoint. Under the example named manual mask, you can see an example of this type of request.



        3) Get the possible objects for removal using the /info or objects/info endpoint, present them to the user, and allow them to select objects for removal using the object name. Send the id of the selected object to the /remove_object endpoint. Under the example named object, you can see an example of this type of request.

        


        In one request, you may send multiple IDs of objects, or points, or masks for removal, but you cannot combine them in one request. For example, you cannot send a point and a mask_id at the same time. 


        You can also use this route on a modified image by providing the sid from the response of the previously used route.


        This route returns both the URL and the sid associated with the updated image.


        Before making any modifications, please call the /info or objects/info route to obtain information on the available predefined objects in the image, the available modifications, and their Oracle values. If you are using mask_url or positive_points there is no need to call the info routes.
        
      operationId: remove_object
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
            example: "86f9986390596e8f"
          description: visual id of the image the user wants to remove objects from.
        - in: query
          name: desired_resolution
          schema:
            type: string
            example: "original"
            enum: ["original", "nhd", "svga", "xga", "had", "wuxga", "uwfhd", "wqxga", "uwqhd", "uhd"]
          description: The desired resolution of the updated image. This parameter is optional.
        - in: query
          name: original_quality
          schema:
            type: boolean
            example: true
          description: If you would like to retain the quality of the original image, please set this parameter to true. This parameter is optional. This parameter can also be used as a body parameter.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sid:
                  type: string
                  description: This session id was obtained from the response of a route that had been applied to this visual id. If you have used another route on the provided visual before, and you would like the current route to modify the result of that route, please provide this information. This parameter is optional.
                  example: "aaeec34e-9804-11ed-a479-964fdf514767.JPEG"
                enhance:
                  type: boolean
                  description: Please use the value True in order to get the best result possible. 
                  example: True
                changes:
                  type: array
                  description: The requested changes to the image. In one request, you may send multiple IDs of objects, or points, or masks for removal, but you cannot combine them in one request. For example, you cannot send a point and a mask at the same time.  
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Id of the selected object in the image, which the user would like to remove. If you include a mask or a point, there is no need to use this parameter.
                      mask_url:
                        type: string
                        description: A public URL that includes a mask in the following format - PNG file, a binary image in which the area that should be removed should get the value 255 (white) and the rest should get the value 0 (black). If you include an id or a point, there is no need to use this parameter.
                      mask_id:
                        type: integer
                        description: When you use the /mask_generator endpoint, it returns a group of masks, each with its own unique ID. Once you present the masks to the user, and he selects a mask, you can pass its ID in order to remove that area. 
                      mask_source:
                        type: string
                        enum: ["manual","generated"]
                        description: This parameter is only relevant, if a mask_url or mask_id were used. If the mask was created using a brush (free-hand) then use the option 'manual'. If the mask was the output from the route /objects/mask_generator, use the option 'generated'.
                      positive_points:
                        type: array
                        items:
                          type: integer
                        description: A point in the image, that represents an object that should be removed. Based on this point a mask will be created and used in order to remove the required area. If you include a mask or an id, there is no need to use this parameter.
                      size:
                        type: array
                        items:
                          type: integer
                        description: This parameter is only relevant if this object in the array includes the parameter positive_points. Please specify the size in px of the provided image.
                      actions:
                        type: object
                        description: The changes the user wishes to perform for this object in the image. Each action the user chooses to use must be included in the info route response for this object and image.
                        properties:
                          remove:
                            type: boolean
                            description: Use the value true if you would like to remove the object
            examples:
                generated mask:
                  value:
                    {
                      "enhance": true,
                      "changes": [ 
                        {
                          "mask_id": 30,
                          "mask_source": "generated",
                          "actions": {
                            "remove": true
                            }
                          }
                        ]
                      }
                manual mask:
                  value:
                    {
                      "enhance": true,
                      "changes": [ 
                        {
                          "mask_url": "https://i.ibb.co/JRcgVq7/f2093906b0f041d4b2acb438a8d72084.png",
                          "mask_source": "manual",
                          "actions": {
                            "remove": true
                            }
                          }
                        ]
                      }
                object:
                  value:
                    {
                      "enhance": true,
                      "changes": [ 
                        {
                          "id": "630cf6f9c206e3ec414f0c3006221b7b9252243707cfabf59e65490c6dfe5d56",
                          "actions": {
                            "remove": true
                            }
                          }
                        ]
                      }
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sid:
                    type: string
                    example: "aaeec35e-9904-21ed-a479-964fdf514767.JPEG"
                    description: This session id represents the result of the current route request. If you wish to use this result in other routes, please provide this sid in their input.
                  image_res:
                    type: string
                    description: URL that represents the new visual created in the request. It is a temporary URL that will expire
                    example: "https://d1uzvjowrxhw13.cloudfront.net/api/create_results/8487fb411f3c6716_05e8a8dc-b723-11ec-be15-c28fc8b4a55b.JPEG?AWSAccessKeyId=ASIAUL5JH7ABM5GPF244&Signature=OaE%2BTJW%2FBJFDB2xGXpy%2F%2F8TYkAE%3D&x-amz-security-token=FwoGZXIvYXdzEEsaDHAX5TxTwymFAQYSwSKYBK3lKAwEipl9tjg1QQwWMdQDqS%2B0rYkexasgxxW78Vz4DvJUVPISpnTOZk4h%2Fy6%2BikLC5%2FYGY86SL8980ZHZzRgqcodDJ0n6ljB7SgbkfJnSpgx%2F8iCHzoDH%2BS7YrUjnR7e%2FUz%2B4sIbV%2BSHGn36EXTNnrm%2FOgCsiL9vqLSGFEo5R1pLYIbezxWCEWMLcDO5x9WsVoPRYW7c%2B5B%2B1Ku3qybQEBFRex4BVisJU4NTXbwQKFWMbkTjHg5vK%2FEdQn7OzmCA7SfCSHe%2FqDZIBQG0ki%2BHt%2Fs4bAYYTZpl%2FjoUJTldlltdWH2uitj%2BBeyQKcUnHrPjTY1CsAOEC6OV%2FKlZfOjbNJTvlmHc7%2BKP3iICKlCVJwvRK6%2FnmU7mUVOb%2FmgD2kIvBq5G6fNxXQlKfFGZE2lSs8HR83sp44Qz8hm60DPfK45hE0XdVnIS2jY%2F1a%2BYBmijCr4HDTgv52D53CdnOiQ%2BQ8Yld0bBZRC4aDBATcvcsDcnO4BBMY0NS1c%2BSJ6b4IMxDK2OKdanf9EYiDgzr3ebsS1m7j4NX3pEvNC99YF%2B5PQwDYhbMwlMCAG9AMs9%2FF86Al3czOJFOxV1ClBEoUKy2TgntGraCp76UoLmRrHuRq7WKQUvIj2HAXsIlyNkBg3z498M1Gh7vyD%2F7xQgA0Ny6zYeC1gBH4HmYtFlBS%2BJimmxFlCoCuyFhBmUXp7p6oBI3APuSyQYLKLmQwJIGMioiS3mUno68q7GAsD%2FPmSCM8xMeEWF8IegvlU4XWAQuNnQJLVtqwkZb1Qo%3D&Expires=1650276159"
        '400':
          description: Bad request.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.     
  /background/remove:
    post:
      tags:
        - Background
      summary: Lean Background Removal
      description: >-

        **Description**


        The *Remove BG* Route can be used to remove the background of an image.


        The main difference between the regular and this lean background removal endpoint is that you can use this endpoint without uploading or registering the image to Bria.



        **Constraints**


        Files should not be larger than 12MB. The status code 413 will be returned if the file exceeds its
        maximum size.
        
        
        The Bria API currently supports only JPEG and PNG files in RGB, RGBA, or CMYK color modes. When the file is of a different type or color mode, the status code 415 will be returned.

        
        **Upload using a file**

        
          In our documentation request example, we demonstrate how to upload an image using a URL.
          
          
          If you want to upload an image from a file, follow the example below:

      
              import requests
      
              url = "https://engine.prod.bria-api.com/v1/background/remove"
      
              payload = {}
              files=[
                ('file',('image_name.jpeg',open('/path_to_local_file/image_name.jpeg','rb'),'image/jpeg'))
              ]
              headers = {
                'api_token': 'xxxx'
              }
      
              response = requests.request("POST", url, headers=headers, data=payload, files=files)
      
              print(response.text)
       

      operationId: lean_background/remove
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  description: The image file you would like to remove the background from.
                  type: string
                  format: binary
                image_url:
                  description: The URL of the image file you would like to remove the background from. The URL should lead to an image publicly available online. Either a file or an image_url should be provided. If both are provided, then the route will use image_url.
                  type: string
            examples:
                image url:
                  value:
                    image_url: "https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result_url:
                    type: string
                    description: URL that represents the updated visual created in the request. It is a temporary URL that will expire.
        '206':
          description: File value was not provided.
        '400':
          description: Request doesn't contain file part.
        '405':
          description: Method not allowed.
        '413':
          description: Request entity too large.
        '415':
          description: Unsupported media type.
        '460':
          description: Failed to download image.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.   

  /{visual_id}/background/remove:
    get:
      tags:
        - Background
      summary: Background Removal
      description: >-


        **Description**



        The *Remove BG Route* is used to remove the background of a previously uploaded image. 
        
        
        You can also use this route on a modified image by providing the sid from the response of the previously used route.
        
        
        This route returns both the URL and the sid associated with the updated image.


        Before making any modifications, please call the /info or background/info route to obtain information on the available modifications, and their oracle values.
        

      operationId: background/remove
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
            example: "8487fb411f3c6716"
          description: visual id of the image from which the user wishes to remove the background
        - in: query
          name: sid
          schema:
            type: string
            example: "Remove this parameter if the image has not been modified using Bria."
          description: This session id was obtained from the response of a route that had been applied to this visual id. If you have used another route on the provided visual before, and you would like the current route to modify the result of that route, please provide this information. This parameter is optional.
        - in: query
          name: desired_resolution
          schema:
            type: string
            enum: ['original','nhd','svga','xga','hd','wuxga','uwfhd','wqxga','uwqhd','uhd']
            example: "original"
          description: The desired resolution of the updated image. This parameter is optional.
        - in: query
          name: original_quality
          schema:
            type: boolean
            example: true
          description: If you would like to retain the quality of the original image, please set this parameter to true. Enabling this parameter during background removal may cause longer response times, depending on the quality and size of the original image. This parameter is optional. 
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  image_res:
                    type: string
                    description: URL that represents the updated visual created in the request. It is a temporary URL that will expire
                    example: "https://bria-temp.s3.amazonaws.com/engine_no_bg/727b73c6-b723-11ec-947a-c28fc8b4a55b.png?AWSAccessKeyId=ASIAUL5JH7ABNOAGDDHM&Signature=IIZp7MtiAoY32wIq%2BAVoUd7U3XY%3D&x-amz-security-token=FwoGZXIvYXdzEEwaDJNBqgbCH8ZLEjbtwCKYBByHo1V0nSnkoDy3kvaujvGHcNdmw0pYIwWYuvYdnKYv5zmzE4k%2FcgcB8YfY8DXKBOZR9DB%2FpzwoMPYf%2FxDMy4NenzSXw4VymF3j97bTEy6M00j%2BVO3K5fJOpN7iWlrxTaFHQICUW7%2FHE4CvaQ%2FB%2BWoCakNiEESUQxGglIygfJpviyexXNsxNGpeq7BPSSrTdsuD6R27pKmdFgdkL3xzUgMQMKzSeTJL4hUVGVldOp5sI4Qlvwnb8L%2FW7ciHHjUCf8WuHtDjDSdBIAqNci6wtXL6SQwLG%2Fo3oryPr0tNOMsbnrIIoFP5ZnH3VQISPCITBkWuUu9bdXkBm2R7rJyfPPOusFLuom2GDyVEHJfA%2FUtwGELxtv7Co29Tujd2N%2BHRhcdyrNsngwYwU2AiLyopMglYIDNQpv9%2FIKnH9ikuki%2F%2FWQ2PnzepcttQuXzlsqlUJRg%2Fcqhqis%2BxwJXZL1vpPJb%2BJz22oMp%2FJqZw%2BOIBWdxiL0pRq%2FF6EmyQz8iuhVBkr%2BnN5eWWxOrizMLFoVRTP34NPOWvWLwZJlrHzryCY8wZ01u2OLu3jxMcBhwypIp4pCzwx%2BAo39AXU1iMHJq36S6Bl5uptEr1NONKQvvz%2BpndF5t1dnoK7lfD9XExjk16shJXIImqiN7kxP2RTIrKsvm8wJY6iPxE35%2Bn0Cw8BS1eRmXFIOdEcfzbJVq80SQRIMko4CePyoOiKPCRwJIGMipiGM2hMspLQDThPJdlIiCOIh670Q2pu95y27iI3i87WQB55KJ9JNTL39I%3D&Expires=1650276342"
                  sid:
                    type: string
                    example: "aaeec35e-9904-21ed-a479-964fdf514767.JPEG"
                    description: This session id represents the result of the current route request. If you wish to use this result in other routes, please provide this sid in their input.
        '400':
          description: Bad request.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /{visual_id}/background/blur:
    get:
      tags:
        - Background
      summary: Background Blur
      description: >-


        **Description**



[...]
