openapi: 3.0.0
info:
  title: The Bria API
  version: ''
  contact:
    name: We are happy to answer any questions you may have at
    email: support@bria.ai
  description: >
    # Introduction
    
    
    The Bria API is intended for users to interact with BriEngine and perform various operations, 
    such as generating new images, customizing uploaded images, and searching. 
    
    This document will provide an overview of the API's capabilities and guide users on how to effectively implement it.


    The following routes can be used without calling first to *Upload/Register Routes*:
      - background/remove - Using the *Isolated Background Removal* to remove the background of an image.
      - /text-to-image - By using the *Image Generation* route, you can generate any image you would like, based on the provided prompt.


    **The common use of the Bria API is according to the following order:**
      - /register - By using the *Register Route*, a new image can be sent to Bria without being uploaded to the database. This is the recommended method to onboard images to Bria, when needed.
      - /upload - By using the *Upload Route*, you can upload a new image to the Bria database.


    
    With the response from the *Upload/Register Routes* (visual_id), the following routes can be used without any particular order:
      - /campaign_generator - The *Campaign Generator Route* enables the creation of customized campaigns. It allows for the generation of visual ads, including various elements like text, images, and layout, based on specific parameters provided by the user.
      - /info - By using the *Info Route*, you can understand the possible changes for each object in the image. 
        The following routes can be used if you do not require information for people, objects, and background, but rather only one of them:
         - /person/info
         - /objects/info
         - /background/info
      - /increase_resolution - The *Increase Resolution route* is used to upsacle any image. 
      - /image_to_psd - The *Image To Psd route* is used to create a layered psd file out of any image.
      - /mask_generator - By using the *Mask Generator*, you can get all the available masks for an image, a segmentation for the image. 
      - /search - Utilizing the *Search Route* to look for images you uploaded or registered to Bria that match a text query. 
      - /search_similar_images - Utilizing the *Search Similar Images Route* to look for images you uploaded or registered to Bria that match the chosen image.
      - /caption - By using the *Caption Route*, you can get a caption that describes the given image.
      - /crop - The *Crop Route* is used to crop an image without a background, tightly around the remaining region of interest.

      
    With the response from the *Info Routes* or from the *Mask Generator*, the following routes can be used without any particular order:
      - /create - Using the *Create Route* to create a new visual with requested changes of elements according to the /info route possibilities. 
      - /recast_model - Using the *Recast Model Route* to create a new variation of your image, while customizing a portrait to any profession/theme
      - objects/remove - Using the *Remove Object Route* to remove the objects from an image. You can also use this route with any mask, that is created manually by a user or generated by the /mask_generator endpoint.
      - background/remove - Using the *Remove BG Route* to remove the background of an image.
      - background/blur - Using the *Blur BG Route* to create a blur effect on the background of an image.
      - /replace_bg - Using the *Replace BG Route* to generate new backgrounds for an image.

        
    # Quality Predictions

    
    The "Oracle" capability within the API can significantly elevate the user experience by offering quality prediction functionalities. 

    
    With the Oracle integrated into your product, you can ensure optimal outcomes for your end users. 

    
    This feature covers various endpoints, including /create, objects/remove, and background operations, providing you with a range of quality prediction options to enhance your product's capabilities.

    
    The orcale value predicts the quality of the result, for each possible action.

    
    By using the "info" for all endpoints, "person/info" endpoint for face modifications, "objects/info" for object removal, and "background/info" for background actions, you can access the Oracle's predictions, and help your users to make informed decisions. 
    
    
    Incorporating Oracle predictions into the API workflow enhances efficiency, minimizes errors, and fosters an optimized API experience.   


    # Authentication

      The Bria API consists of a number of methods for uploading and creating new visual assets. The REST (representational state transfer) API methods can be called directly from within your own custom code.

        curl --location --request POST 'https://engine.prod.bria-api.com/v1' \
        --header: 'api_token: <...>' \
        ...
        
    # API Access
    
      You can register and access the API Token through Bria's platform <a href="https://platform.bria.ai/" target="_blank">by clicking here</a>.
      
externalDocs:
    description: Register and get API Access
    url: 'https://labs.bria.ai/api-plans'
servers:
  - url: https://engine.prod.bria-api.com/v1
paths:
  /text-to-image/base/{model_version}:
    post:
      tags:
        - Image
      summary: /text-to-image/base
      description: >-


        **Description**
        

        The /text-to-image/base Route empowers users to create stunning images directly from textual prompts. This model allows for generating high-quality, photorealistic and artistic, images with a resolution of up to 1024x1024 pixels, supporting a variety of aspect ratios natively to accommodate diverse creative needs.


        **Advanced Customization and Access:**


        Beyond the API, developers interested in deeper customization can access BRIA's models directly through Hugging Face. This alternative provides access to the underlying model source code, offering additional features such as ControlNets: <a href="https://huggingface.co/briaai/BRIA-2.3-ControlNet-Canny" target="_blank">Canny</a> , <a href="https://huggingface.co/briaai/BRIA-2.3-ControlNet-Depth" target="_blank">Depth</a>, and <a href="https://huggingface.co/briaai/BRIA-2.3-ControlNet-Recoloring" target="_blank">ReColoring</a>. This option is ideal for developers seeking advanced control over the image generation process and those who wish to integrate cutting-edge AI directly into their workflows.


        **Examples:**


        **prompt**: A professional headshot of a CEO


        **BRIA BASE model 2.3:**
        
        
        <img src="https://bria-datasets.s3.amazonaws.com/api_doc/2.3/image+(50).png" width="200" height="200"/> <img src="https://bria-datasets.s3.amazonaws.com/api_doc/2.3/image+(51).png" width="200" height="200"/>
        <img src="https://bria-datasets.s3.amazonaws.com/api_doc/2.3/image+(53).png" width="200" height="200"/> <img src="https://bria-datasets.s3.amazonaws.com/api_doc/2.3/image+(52).png" width="200" height="200"/>


        **prompt**: A vaporwave detailed illustration of a street in London in pastel hues, under a Union Jack sky


        **BRIA BASE model 2.3:**
        
        
        <img src="https://bria-datasets.s3.amazonaws.com/api_doc/2.3/image+(478).png" width="200" height="200"/> <img src="https://bria-datasets.s3.amazonaws.com/api_doc/2.3/image+(479).png" width="200" height="200"/>


        **prompt**: A portrait of a Beautiful and playful ethereal singer, art deco, fantasy, intricate art deco golden designs, elegant, highly detailed, sharp focus, blurry background, teal and orange shades


        **BRIA BASE model 2.3:**
        
        
        <img src="https://bria-datasets.s3.amazonaws.com/api_doc/2.3/image+(41).png" width="200" height="200"/> <img src="https://bria-datasets.s3.amazonaws.com/api_doc/2.3/image+(42).png" width="200" height="200"/>
           
      operationId: /text-to-image/base
      parameters:
        - in: path
          name: model_version
          schema:
            type: string
            enum: ["2.3"]
          required: true
          description: The model version you would like to use in the request. 
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: The prompt you would like to use to generate images.
                num_results:
                  type: integer
                  description: How many images you would like to generate.
                  minimum: 1
                  default: 4
                  maximum: 4
                aspect_ratio:
                  type: string
                  description: The aspect ratio of the image. 
                  default: "1:1"
                  enum: ["1:1","2:3","3:2","3:4","4:3","4:5","5:4","9:16","16:9"]
                sync:
                  type: boolean
                  description: Determines the response mode. When true, responses are synchronous. With false, responses are asynchronous, immediately providing URLs for images that are generated in the background. Use polling for the URLs to retrieve images once ready.
                  default: false
                seed:
                  type: integer
                  description: You can choose whether you want your generated result to be random or predictable. You can recreate the same result in the future by using the seed value of a result from the response with the prompt, model type and model version. You can exclude this parameter if you are not interested in recreating your results. This parameter is optional.
                negative_prompt:
                  type: string
                  description: Specisfy here elements that you didn't ask in the prompt, but are being generated, and you would like to exclude. This parameter is optional.
                steps_num:
                  type: integer
                  description: The number of iterations the model goes through to refine the generated image. This parameter is optional.
                  minimum: 20
                  default: 30
                  maximum: 50
                text_guidance_scale:
                  type: number
                  format: float
                  description: Determines how closely the generated image should adhere to the input text description. This parameter is optional.
                  minimum: 1.0
                  maximum: 10.0
                  default: 5.0
                medium:
                  type: string
                  enum: ['photography','art']
                  description: Which medium should be included in your generated images. This parameter is optional.
                prompt_enhancement:
                  type: boolean
                  description: When set to true, enhances the provided prompt by generating additional, more descriptive variations, resulting in more diverse and creative output images. Note that turning this flag on may result in a few additional seconds to the inference time.
                  default: false
            examples:
              valid prompt:
                value:
                  prompt: "a baby riding a bicycle in a field of flowers"
                  num_results: 1
                  sync: true
              inappropriate prompt:
                value:
                  prompt: "sensual"
                  num_results: 1
                  sync: true
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    description: there are multiple objects in this array (based on the amount specified in num_results) and each object represents a single image. 
                    items:
                      type: object
                      properties:
                        seed:
                          type: integer
                          description: If you want to recreate the result again, you should use in the request the prompt and the seed of the response. 
                        urls:
                          type: string
                          description: This is the URL where the generated image can be found. Bria recognizes offensive and inappropriate images. The URL will lead to a 0-byte file if an image like that is generated. It will take a few seconds for the image to become available via this URL if sync=false.
              examples:
                valid prompt:
                  value:
                    results:  [
                                {
                                  "seed": 1525972691,
                                  "urls": "https://bria-temp.s3.amazonaws.com/api/generate_image/a_4k_symmetrical_portrait_of_a_woman_traveling_in_the_world_realistic_soft_natural_lighting_85mm_lens_photography_dramatic_lighting_photo_realism_High_contrast_shadows/seed_1109401663.jpg?AWSAccessKeyId=ASIAUL5JH7ABJT4HG6MN&Signature=DOKLVPYHKHbe7bA3hEl262EabLk%3D&x-amz-security-token=FwoGZXIvYXdzEND%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDEl1%2FfpVCJkRvEKkJyKYBBTbjfsDBPKMZsYVU8tO3MMNCxvwAgtzUCvoxqOtEXYmVfCABwvF3jgvXCHup%2BdG3QYV7jHEfAgBLWI%2BMGI%2F%2FntPwdsdsMTxKhSJgymaUq8n8O4GmCSExT5o34U1uhAFpr2YPbrQWdYfuo%2FKIWGTHoBbikLf14yb1sa%2FicwMeVItzrTk%2FSvPAuJCSJh3Mnq%2BlXSSuviKpyMB226UjZPZ6zUYnSwwDHlQFueVRTJopaPvDh8LBlFQIiZqSxRDFqZDCC00rVv17pbD2tRT0kpVoAhE2QXIGzKiErsPJwsWYhOSra2idSUI3gRCHcJpvuTz2ZNBlY1G%2B%2BzJ%2B07LAkXQT4ppBbpO%2BUvo8pN4aTDvvsztgp2pK6wjWCKUBsRcdhpJ96W%2FzK5BepEflzbG%2BWyVaUuIgpd4OAVY4ieR%2BEDPCVqwb2J3tHWPLK1mnLFAKF5%2Fe68pnRpfLHqjl5h03IK5xbWWJZOCThQx%2FHJtA8EWqNUF372GmAKhfpDvc%2BxitjeV5ym4HZRBeCYTiPnM190yLNklriyXxzLFUxWp28B3mm77%2BFK82%2B3PYxWmFPn9WAWZ%2Fa9FszXNfJ7q%2FtjzvophCsww9psYvhgM9LTgXXUgM6CgVL1OP5qxUAEYuV5Hrg3QSWKchrYh0aMrjrOygBxIXhBj6VDkvVdqg4snlS0cTdgjFZTHDZBvFwLN380Vn0233AV%2FjSJGJzyCKPGR5aAGMirgAQFta0KzQHT52sAvNtD6xfYgB1LU6TLR7AL7Ei%2BmPgZ77VVPe8dRuh8%3D&Expires=1680245340"
                                }
                              ]
                inappropriate prompt:
                  value:
                    results:  [
                                {
                                  "description": "Query doesn't stand with Bria's ethic rules",
                                  "error_code": "408"
                                }
                              ]
        '209':
          description: Successful operation, a model version that is no longer available was requested. The request was redirected to the latest model version. 
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    description: there are multiple objects in this array (based on the amount specified in num_results) and each object represents a single image. 
                    items:
                      type: object
                      properties:
                        seed:
                          type: integer
                          description: If you want to recreate the result again, you should use in the request the prompt and the seed of the response. 
                        urls:
                          type: string
                          description: This is the URL where the generated image can be found. Bria recognizes offensive and inappropriate images. The URL will lead to a 0-byte file if an image like that is generated. It will take a few seconds for the image to become available via this URL if sync=false.
              examples:
                valid prompt:
                  value:
                    results:  [
                                {
                                  "seed": 1525972691,
                                  "urls": "https://bria-temp.s3.amazonaws.com/api/generate_image/a_4k_symmetrical_portrait_of_a_woman_traveling_in_the_world_realistic_soft_natural_lighting_85mm_lens_photography_dramatic_lighting_photo_realism_High_contrast_shadows/seed_1109401663.jpg?AWSAccessKeyId=ASIAUL5JH7ABJT4HG6MN&Signature=DOKLVPYHKHbe7bA3hEl262EabLk%3D&x-amz-security-token=FwoGZXIvYXdzEND%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDEl1%2FfpVCJkRvEKkJyKYBBTbjfsDBPKMZsYVU8tO3MMNCxvwAgtzUCvoxqOtEXYmVfCABwvF3jgvXCHup%2BdG3QYV7jHEfAgBLWI%2BMGI%2F%2FntPwdsdsMTxKhSJgymaUq8n8O4GmCSExT5o34U1uhAFpr2YPbrQWdYfuo%2FKIWGTHoBbikLf14yb1sa%2FicwMeVItzrTk%2FSvPAuJCSJh3Mnq%2BlXSSuviKpyMB226UjZPZ6zUYnSwwDHlQFueVRTJopaPvDh8LBlFQIiZqSxRDFqZDCC00rVv17pbD2tRT0kpVoAhE2QXIGzKiErsPJwsWYhOSra2idSUI3gRCHcJpvuTz2ZNBlY1G%2B%2BzJ%2B07LAkXQT4ppBbpO%2BUvo8pN4aTDvvsztgp2pK6wjWCKUBsRcdhpJ96W%2FzK5BepEflzbG%2BWyVaUuIgpd4OAVY4ieR%2BEDPCVqwb2J3tHWPLK1mnLFAKF5%2Fe68pnRpfLHqjl5h03IK5xbWWJZOCThQx%2FHJtA8EWqNUF372GmAKhfpDvc%2BxitjeV5ym4HZRBeCYTiPnM190yLNklriyXxzLFUxWp28B3mm77%2BFK82%2B3PYxWmFPn9WAWZ%2Fa9FszXNfJ7q%2FtjzvophCsww9psYvhgM9LTgXXUgM6CgVL1OP5qxUAEYuV5Hrg3QSWKchrYh0aMrjrOygBxIXhBj6VDkvVdqg4snlS0cTdgjFZTHDZBvFwLN380Vn0233AV%2FjSJGJzyCKPGR5aAGMirgAQFta0KzQHT52sAvNtD6xfYgB1LU6TLR7AL7Ei%2BmPgZ77VVPe8dRuh8%3D&Expires=1680245340"
                                }
                              ]
        '400':
          description: Bad request.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
  /text-to-image/fast/{model_version}:
    post:
      tags:
        - Image
      summary: /text-to-image/fast
      description: >-


        **Description**
        

        The /text-to-image/fast Route is optimized for speed, enabling rapid image creation without compromising quality. This model allows for generating high-quality, photorealistic and artistic, images with a resolution of up to 1024x1024 pixels, supporting a variety of aspect ratios natively to accommodate diverse creative needs. 
        Ideal for applications requiring quick turnaround without sacrificing image fidelity.


        **Advanced Customization and Access:**


        Beyond the API, developers interested in deeper customization can access BRIA's models directly through Hugging Face. This alternative provides access to the underlying model source code, offering additional features such as ControlNets: <a href="https://huggingface.co/briaai/BRIA-2.3-ControlNet-Canny" target="_blank">Canny</a> , <a href="https://huggingface.co/briaai/BRIA-2.3-ControlNet-Depth" target="_blank">Depth</a>, and <a href="https://huggingface.co/briaai/BRIA-2.3-ControlNet-Recoloring" target="_blank">ReColoring</a>. This option is ideal for developers seeking advanced control over the image generation process and those who wish to integrate cutting-edge AI directly into their workflows.


        **An example:**


        **prompt**: A portrait of a Beautiful and playful ethereal singer, art deco, fantasy, intricate art deco golden designs, elegant, highly detailed, sharp focus, blurry background, teal and orange shades


        **BRIA FAST model 2.3:**
        
        
        <img src="https://bria-datasets.s3.amazonaws.com/api_doc/fast/image+(42).png" width="200" height="200"/> <img src="https://images.bria.ai/images/b0788963e23ce367.png" width="200" height="200"/>
        <img src="https://bria-datasets.s3.amazonaws.com/api_doc/fast/image+(43).png" width="200" height="200"/> <img src="https://images.bria.ai/images/cdee459b344d1a31.png" width="200" height="200"/>

           
      operationId: /text-to-image/fast
      parameters:
        - in: path
          name: model_version
          schema:
            type: string
            enum: ["2.3"]
          required: true
          description: The model version you would like to use in the request. 
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: The prompt you would like to use to generate images.
                num_results:
                  type: integer
                  description: How many images you would like to generate. 
                  minimum: 1
                  maximum: 4
                  default: 4
                aspect_ratio:
                  type: string
                  description: The aspect ratio of the image. 
                  default: "1:1"
                  enum: ["1:1","2:3","3:2","3:4","4:3","4:5","5:4","9:16","16:9"]
                sync:
                  type: boolean
                  description: Determines the response mode. When true, responses are synchronous. With false, responses are asynchronous, immediately providing URLs for images that are generated in the background. Use polling for the URLs to retrieve images once ready.
                  default: false
                seed:
                  type: integer
                  description: You can choose whether you want your generated result to be random or predictable. You can recreate the same result in the future by using the seed value of a result from the response with the prompt, model type and model version. You can exclude this parameter if you are not interested in recreating your results. This parameter is optional.
                steps_num:
                  type: integer
                  description: The number of iterations the model goes through to refine the generated image. This parameter is optional.
                  minimum: 4
                  maximum: 10
                  default: 8
                text_guidance_scale:
                  type: number
                  format: float
                  description: Determines how closely the generated image should adhere to the input text description. This parameter is optional.
                  minimum: 1.0
                  maximum: 10.0
                  default: 5.0
                medium:
                  type: string
                  enum: ['photography','art']
                  description: Which medium should be included in your generated images. This parameter is optional.
                prompt_enhancement:
                  type: boolean
                  description: When set to true, enhances the provided prompt by generating additional, more descriptive variations, resulting in more diverse and creative output images. Note that turning this flag on may result in a few additional seconds to the inference time.
                  default: false
            examples:
              valid prompt:
                value:
                  prompt: "a baby riding a bicycle in a field of flowers"
                  num_results: 1
                  sync: true
              inappropriate prompt:
                value:
                  prompt: "sensual"
                  num_results: 1
                  sync: true
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    description: there are multiple objects in this array (based on the amount specified in num_results) and each object represents a single image. 
                    items:
                      type: object
                      properties:
                        seed:
                          type: integer
                          description: If you want to recreate the result again, you should use in the request the prompt and the seed of the response. 
                        urls:
                          type: string
                          description: This is the URL where the generated image can be found. Bria recognizes offensive and inappropriate images. The URL will lead to a 0-byte file if an image like that is generated. It will take a few seconds for the image to become available via this URL if sync=false.
              examples:
                valid prompt:
                  value:
                    results:  [
                                {
                                  "seed": 1525972691,
                                  "urls": "https://bria-temp.s3.amazonaws.com/api/generate_image/a_4k_symmetrical_portrait_of_a_woman_traveling_in_the_world_realistic_soft_natural_lighting_85mm_lens_photography_dramatic_lighting_photo_realism_High_contrast_shadows/seed_1109401663.jpg?AWSAccessKeyId=ASIAUL5JH7ABJT4HG6MN&Signature=DOKLVPYHKHbe7bA3hEl262EabLk%3D&x-amz-security-token=FwoGZXIvYXdzEND%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDEl1%2FfpVCJkRvEKkJyKYBBTbjfsDBPKMZsYVU8tO3MMNCxvwAgtzUCvoxqOtEXYmVfCABwvF3jgvXCHup%2BdG3QYV7jHEfAgBLWI%2BMGI%2F%2FntPwdsdsMTxKhSJgymaUq8n8O4GmCSExT5o34U1uhAFpr2YPbrQWdYfuo%2FKIWGTHoBbikLf14yb1sa%2FicwMeVItzrTk%2FSvPAuJCSJh3Mnq%2BlXSSuviKpyMB226UjZPZ6zUYnSwwDHlQFueVRTJopaPvDh8LBlFQIiZqSxRDFqZDCC00rVv17pbD2tRT0kpVoAhE2QXIGzKiErsPJwsWYhOSra2idSUI3gRCHcJpvuTz2ZNBlY1G%2B%2BzJ%2B07LAkXQT4ppBbpO%2BUvo8pN4aTDvvsztgp2pK6wjWCKUBsRcdhpJ96W%2FzK5BepEflzbG%2BWyVaUuIgpd4OAVY4ieR%2BEDPCVqwb2J3tHWPLK1mnLFAKF5%2Fe68pnRpfLHqjl5h03IK5xbWWJZOCThQx%2FHJtA8EWqNUF372GmAKhfpDvc%2BxitjeV5ym4HZRBeCYTiPnM190yLNklriyXxzLFUxWp28B3mm77%2BFK82%2B3PYxWmFPn9WAWZ%2Fa9FszXNfJ7q%2FtjzvophCsww9psYvhgM9LTgXXUgM6CgVL1OP5qxUAEYuV5Hrg3QSWKchrYh0aMrjrOygBxIXhBj6VDkvVdqg4snlS0cTdgjFZTHDZBvFwLN380Vn0233AV%2FjSJGJzyCKPGR5aAGMirgAQFta0KzQHT52sAvNtD6xfYgB1LU6TLR7AL7Ei%2BmPgZ77VVPe8dRuh8%3D&Expires=1680245340"
                                }
                              ]
                inappropriate prompt:
                  value:
                    results:  [
                                {
                                  "description": "Query doesn't stand with Bria's ethic rules",
                                  "error_code": "408"
                                }
                              ]
        '400':
          description: Bad request.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
  /text-to-image/hd/{model_version}:
    post:
      tags:
        - Image
      summary: /text-to-image/hd
      description: >-


        **Description**
        

        The /text-to-image/hd Route is tailored for projects demanding the utmost in image detail and clarity. This model allows for generating high-quality, photorealistic and artistic, images with unparalleled resolution of 1920x1080 (1:1 1536x1536) pixel, supporting a variety of aspect ratios natively to accommodate diverse creative needs.


        **Advanced Customization and Access:**


        Beyond the API, developers interested in deeper customization can access BRIA's models directly through Hugging Face. This alternative provides access to the underlying model source code, offering additional features such as ControlNets: <a href="https://huggingface.co/spaces/briaai/BRIA-2.2-ControlNet-Canny" target="_blank">Canny</a> , <a href="https://huggingface.co/spaces/briaai/BRIA-2.2-ControlNet-Depth" target="_blank">Depth</a>, and <a href="https://huggingface.co/spaces/briaai/BRIA-2.2-ControlNet-Recoloring" target="_blank">ReColoring</a>. This option is ideal for developers seeking advanced control over the image generation process and those who wish to integrate cutting-edge AI directly into their workflows.


        **Examples:**


        **prompt**: A photo of detailed short female blond hair viewed from behind, with rich texture and clearly visible individual strands that give depth and realism, and featuring subtle waves reflect light


        **BRIA HD model 2.2:**
        
        
        <img src="https://bria-datasets.s3.amazonaws.com/api_doc/hd/seed_459779534.png" width="400"/> <img src="https://bria-datasets.s3.amazonaws.com/api_doc/hd/seed_939823113.png" width="400"/>


        **prompt**: A portrait of a Beautiful and playful ethereal singer, art deco, fantasy, intricate art deco golden designs, elegant, highly detailed, sharp focus, blurry background, teal and orange shades


        **BRIA HD model 2.2:**
        
        
        <img src="https://bria-datasets.s3.amazonaws.com/api_doc/hd/image+(42).png" width="400"/> <img src="https://bria-datasets.s3.amazonaws.com/api_doc/hd/image+(50).png" width="400"/>
           
      operationId: /text-to-image/hd
      parameters:
        - in: path
          name: model_version
          schema:
            type: string
            enum: ["2.2"]
          required: true
          description: The model version you would like to use in the request. 
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: The prompt you would like to use to generate images.
                num_results:
                  type: integer
                  description: How many images you would like to generate. 
                  minimum: 1
                  default: 4
                  maximum: 4
                aspect_ratio:
                  type: string
                  description: The aspect ratio of the image. 
                  default: "1:1"
                  enum: ["1:1","2:3","3:2","3:4","4:3","4:5","5:4","9:16","16:9"]
                sync:
                  type: boolean
                  description: Determines the response mode. When true, responses are synchronous, and applicable to single-image requests. With false, responses are asynchronous, immediately providing URLs for images that are generated in the background. Use polling for the URLs to retrieve images once ready.
                  default: false
                seed:
                  type: integer
                  description: You can choose whether you want your generated result to be random or predictable. You can recreate the same result in the future by using the seed value of a result from the response with the prompt, model type and model version. You can exclude this parameter if you are not interested in recreating your results. This parameter is optional.
                negative_prompt:
                  type: string
                  description: Specisfy here elements that you didn't ask in the prompt, but are being generated, and you would like to exclude. This parameter is optional.
                steps_num:
                  type: integer
                  description: The number of iterations the model goes through to refine the generated image. This parameter is optional.
                  minimum: 20
                  default: 30
                  maximum: 50
                text_guidance_scale:
                  type: number
                  format: float
                  description: Determines how closely the generated image should adhere to the input text description. This parameter is optional.
                  minimum: 1.0
                  maximum: 10.0
                  default: 5.0
                medium:
                  type: string
                  enum: ['photography','art']
                  description: Which medium should be included in your generated images. This parameter is optional.
                prompt_enhancement:
                  type: boolean
                  description: When set to true, enhances the provided prompt by generating additional, more descriptive variations, resulting in more diverse and creative output images. Note that turning this flag on may result in a few additional seconds to the inference time.
                  default: false
            examples:
              valid prompt:
                value:
                  prompt: "a baby riding a bicycle in a field of flowers"
                  num_results: 1
                  sync: true
              inappropriate prompt:
                value:
                  prompt: "sensual"
                  num_results: 1
                  sync: true
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    description: there are multiple objects in this array (based on the amount specified in num_results) and each object represents a single image. 
                    items:
                      type: object
                      properties:
                        seed:
                          type: integer
                          description: If you want to recreate the result again, you should use in the request the prompt and the seed of the response. 
                        urls:
                          type: string
                          description: This is the URL where the generated image can be found. Bria recognizes offensive and inappropriate images. The URL will lead to a 0-byte file if an image like that is generated. It will take a few seconds for the image to become available via this URL if sync=false.
              examples:
                valid prompt:
                  value:
                    results:  [
                                {
                                  "seed": 1525972691,
                                  "urls": "https://bria-temp.s3.amazonaws.com/api/generate_image/a_4k_symmetrical_portrait_of_a_woman_traveling_in_the_world_realistic_soft_natural_lighting_85mm_lens_photography_dramatic_lighting_photo_realism_High_contrast_shadows/seed_1109401663.jpg?AWSAccessKeyId=ASIAUL5JH7ABJT4HG6MN&Signature=DOKLVPYHKHbe7bA3hEl262EabLk%3D&x-amz-security-token=FwoGZXIvYXdzEND%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDEl1%2FfpVCJkRvEKkJyKYBBTbjfsDBPKMZsYVU8tO3MMNCxvwAgtzUCvoxqOtEXYmVfCABwvF3jgvXCHup%2BdG3QYV7jHEfAgBLWI%2BMGI%2F%2FntPwdsdsMTxKhSJgymaUq8n8O4GmCSExT5o34U1uhAFpr2YPbrQWdYfuo%2FKIWGTHoBbikLf14yb1sa%2FicwMeVItzrTk%2FSvPAuJCSJh3Mnq%2BlXSSuviKpyMB226UjZPZ6zUYnSwwDHlQFueVRTJopaPvDh8LBlFQIiZqSxRDFqZDCC00rVv17pbD2tRT0kpVoAhE2QXIGzKiErsPJwsWYhOSra2idSUI3gRCHcJpvuTz2ZNBlY1G%2B%2BzJ%2B07LAkXQT4ppBbpO%2BUvo8pN4aTDvvsztgp2pK6wjWCKUBsRcdhpJ96W%2FzK5BepEflzbG%2BWyVaUuIgpd4OAVY4ieR%2BEDPCVqwb2J3tHWPLK1mnLFAKF5%2Fe68pnRpfLHqjl5h03IK5xbWWJZOCThQx%2FHJtA8EWqNUF372GmAKhfpDvc%2BxitjeV5ym4HZRBeCYTiPnM190yLNklriyXxzLFUxWp28B3mm77%2BFK82%2B3PYxWmFPn9WAWZ%2Fa9FszXNfJ7q%2FtjzvophCsww9psYvhgM9LTgXXUgM6CgVL1OP5qxUAEYuV5Hrg3QSWKchrYh0aMrjrOygBxIXhBj6VDkvVdqg4snlS0cTdgjFZTHDZBvFwLN380Vn0233AV%2FjSJGJzyCKPGR5aAGMirgAQFta0KzQHT52sAvNtD6xfYgB1LU6TLR7AL7Ei%2BmPgZ77VVPe8dRuh8%3D&Expires=1680245340"
                                }
                              ]
                inappropriate prompt:
                  value:
                    results:  [
                                {
                                  "description": "Query doesn't stand with Bria's ethic rules",
                                  "error_code": "408"
                                }
                              ]
        '400':
          description: Bad request.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
  /generation/bria-v2/text-to-image:
    post:
      tags:
        - Image
      summary: /generation/bria-v2/text-to-image (Deprecated)
      description: >-


        **Description**

        
        WARNING: Deprecated and scheduled for removal on 01/07/2024. For continued support, use <a href="https://bria-ai-api-docs.redoc.ly/#operation//text-to-image" target="_blank">/text-to-image</a>.


      
        The *Image Generation Route* allows you to generate images based on any given text prompt. 
        
        
        Our most capable model that can generate high-quality 1024x1024px images. **The model supports natively multiple aspect ratios.**

        Here are some examples:
        
        
        **prompt:** A portrait of a Beautiful and playful ethereal singer, art deco, fantasy, intricate art deco golden designs, elegant, highly detailed, sharp focus, blurry background, teal and orange shades
           
           
        **results:**

           
        <img src="https://images.bria.ai/images_resized/c90a5ad279297dc3.png" width="200" height="200"/> <img src="https://images.bria.ai/images_resized/8d6dc1724287717e.png" width="200" height="200"/>
        <img src="https://images.bria.ai/images_resized/ca8ee9c197260d6e.png" width="200" height="200"/> <img src="https://images.bria.ai/images_resized/9c0db2334996eccd.png" width="200" height="200"/>
        
        
        **prompt:** Nature photography, a majestic photo, closeup of a blue and yellow Cameleon on a tropical blue flower with due, drops of water on the flower, outdoors, vegetation, jungle, polarizing photo filter
        
        
        **results:**
        
        
        <img src="https://images.bria.ai/images_resized/a3e93a2adac76194.png" width="200" height="200"/> <img src="https://images.bria.ai/images_resized/cd143cbca39f482e.png" width="200" height="200"/>
        <img src="https://images.bria.ai/images_resized/db242fc93c7ce184.png" width="200" height="200"/> <img src="https://images.bria.ai/images_resized/c10f3b933d738934.png" width="200" height="200"/>
           
      operationId: /generation/bria-v2/text-to-image
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: The prompt you would like to use to generate images
                num_results:
                  type: integer
                  description: How many images you would like to generate. The default and maximum value is 4. 
                size:
                  type: array
                  description: The size of the image in pixels. The first value is the width and the second value is the height. Each value must be a multiple of 64. Here is the recommended list of sizes to use [1024,1024],[1344,768],[768,1344],[1088,896],[896,1088],[1152,896],[896,1152],[1216,832],[832,1216].
                  default: [1024,1024]
                sync:
                  type: boolean
                  description: Determines the response mode. When true, responses are synchronous, and applicable to the fast model or single-image requests. With false, responses are asynchronous, immediately providing URLs for images that are generated in the background. Use polling for the URLs to retrieve images once ready.
                fast:
                  type: boolean
                  default: false
                  description: If you would like to use the Bria 2.2 Fast model, which provides the best balance between speed and quality, use the value true. 
                seed:
                  type: integer
                  description: You can choose whether you want your generated result to be random or predictable. You can recreate the same result in the future by using the seed value of a result from the response with the prompt. You can exclude this parameter if you are not interested in recreating your results. This parameter is optional.
                negative_prompt:
                  type: string
                  description: This parameter is optional.
                steps_num:
                  type: integer
                  description: The number of iterations the model goes through to refine the generated image. This parameter is optional.
                  minimum: 20
                  maximum: 50
                  default: 30
                text_guidance_scale:
                  type: number
                  format: float
                  description: Determines how closely the generated image should adhere to the input text description. This parameter is optional.
                  minimum: 1.0
                  maximum: 10.0
                  default: 5.0
                style:   
                  type: string
                  enum: ['photo realistic','fashion','retro','sports','still life','hyper realistic','travel','artistic','3d render','realistic','fantasy','comic book','minimalistic']
                  description: Which style you would like to see in your generated images.
                atmosphere:
                  type: string
                  enum: ['dramatic','vivid','warm','cool']
                  description: Which atmosphere you would like to get in your generated images.
                camera:
                  type: string
                  enum: ['portrait','close up','aerial','landscape']
                  description: Which camera angle you would like to see in your generated images.
                medium:
                  type: string
                  enum: ['photography','art']
                  description: Which medium should be included in your generated images.
            examples:
              valid prompt:
                value:
                  prompt: "a baby riding a bicycle in a field of flowers"
                  num_results: 1
                  sync: true
              inappropriate prompt:
                value:
                  prompt: "sensual"
                  num_results: 1
                  sync: true
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    description: there are multiple objects in this array (based on the amount specified in num_results) and each object represents a single image. 
                    items:
                      type: object
                      properties:
                        seed:
                          type: integer
                          description: If you want to recreate the result again, you should use in the request the prompt and the seed of the response. 
                        urls:
                          type: string
                          description: This is the URL where the generated image can be found. Bria recognizes offensive and inappropriate images. The URL will lead to a 0-byte file if an image like that is generated. It will take a few seconds for the image to become available via this URL if sync=false.
              examples:
                valid prompt:
                  value:
                    results:  [
                                {
                                  "seed": 1525972691,
                                  "urls": "https://bria-temp.s3.amazonaws.com/api/generate_image/a_4k_symmetrical_portrait_of_a_woman_traveling_in_the_world_realistic_soft_natural_lighting_85mm_lens_photography_dramatic_lighting_photo_realism_High_contrast_shadows/seed_1109401663.jpg?AWSAccessKeyId=ASIAUL5JH7ABJT4HG6MN&Signature=DOKLVPYHKHbe7bA3hEl262EabLk%3D&x-amz-security-token=FwoGZXIvYXdzEND%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDEl1%2FfpVCJkRvEKkJyKYBBTbjfsDBPKMZsYVU8tO3MMNCxvwAgtzUCvoxqOtEXYmVfCABwvF3jgvXCHup%2BdG3QYV7jHEfAgBLWI%2BMGI%2F%2FntPwdsdsMTxKhSJgymaUq8n8O4GmCSExT5o34U1uhAFpr2YPbrQWdYfuo%2FKIWGTHoBbikLf14yb1sa%2FicwMeVItzrTk%2FSvPAuJCSJh3Mnq%2BlXSSuviKpyMB226UjZPZ6zUYnSwwDHlQFueVRTJopaPvDh8LBlFQIiZqSxRDFqZDCC00rVv17pbD2tRT0kpVoAhE2QXIGzKiErsPJwsWYhOSra2idSUI3gRCHcJpvuTz2ZNBlY1G%2B%2BzJ%2B07LAkXQT4ppBbpO%2BUvo8pN4aTDvvsztgp2pK6wjWCKUBsRcdhpJ96W%2FzK5BepEflzbG%2BWyVaUuIgpd4OAVY4ieR%2BEDPCVqwb2J3tHWPLK1mnLFAKF5%2Fe68pnRpfLHqjl5h03IK5xbWWJZOCThQx%2FHJtA8EWqNUF372GmAKhfpDvc%2BxitjeV5ym4HZRBeCYTiPnM190yLNklriyXxzLFUxWp28B3mm77%2BFK82%2B3PYxWmFPn9WAWZ%2Fa9FszXNfJ7q%2FtjzvophCsww9psYvhgM9LTgXXUgM6CgVL1OP5qxUAEYuV5Hrg3QSWKchrYh0aMrjrOygBxIXhBj6VDkvVdqg4snlS0cTdgjFZTHDZBvFwLN380Vn0233AV%2FjSJGJzyCKPGR5aAGMirgAQFta0KzQHT52sAvNtD6xfYgB1LU6TLR7AL7Ei%2BmPgZ77VVPe8dRuh8%3D&Expires=1680245340"
                                }
                              ]
                inappropriate prompt:
                  value:
                    results:  [
                                {
                                  "description": "Query doesn't stand with Bria's ethic rules",
                                  "error_code": "408"
                                }
                              ]
        '400':
          description: Bad request.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
        '512':
          description: Insufficient resources to process the request.
  /datasets/create:
    post:
      tags:
        - Tailored Generation
      summary: /datasets/create (Coming Soon)
      description: >-
        **Description**
  
        This endpoint allows the creation of a new dataset that will belong to the organization associated with the used API token. The dataset will be created with a default status of "draft".
      operationId: createDataset
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
          description: API token associated with the organization.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                use_case:
                  type: string
                  enum: [illustrative_style, illustrative_character]
                  description: Specifies the use case of the dataset. Accepted values are "illustrative_style" and "illustrative_character".
                  example: "illustrative_style"
                style_description:
                  type: string
                  description: Description of the visual style. This is currently required but might change in the future.
                  example: "A 2d vibrant and colorful flat illustration."
                name:
                  type: string
                  description: Name of the dataset.
                  example: "My Illustrations"
      responses:
        '201':
          description: Dataset successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the dataset.
                  use_case:
                    type: string
                    description: Specifies the use case of the dataset.
                  style_description:
                    type: string
                    description: Description of the visual style.
                  name:
                    type: string
                    description: Name of the dataset.
                  status:
                    type: string
                    description: Status of the dataset.
                  images_count:
                    type: integer
                    description: Number of images in the dataset.
                  created_at:
                    type: string
                    format: date-time
                    description: Timestamp when the dataset was created.
                  updated_at:
                    type: string
                    format: date-time
                    description: Timestamp when the dataset was last updated.
              example:
                id: "dataset123"
                use_case: "illustrative_style"
                style_description: "A 2d vibrant and colorful flat illustration."
                name: "My Illustrations"
                status: "draft"
                images_count: 0
                created_at: "2024-05-26T12:00:00Z"
                updated_at: "2024-05-26T12:00:00Z"
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '500':
          description: Internal server error.
  /datasets:
    get:
      tags:
        - Tailored Generation
      summary: /datasets (Coming Soon)
      description: >-
        **Description**
  
        Retrieve a list of datasets that belong to the organization associated with the used API token. If no datasets are found, an empty array is returned.
      operationId: getDatasets
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
          description: API token associated with the organization.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Unique identifier for the dataset.
                    use_case:
                      type: string
                      description: Specifies the use case of the dataset.
                    style_description:
                      type: string
                      description: Description of the visual style.
                    name:
                      type: string
                      description: Name of the dataset.
                    images_count:
                      type: integer
                      description: Number of images in the dataset.
                    status:
                      type: string
                      description: Status of the dataset.
                    created_at:
                      type: string
                      format: date-time
                      description: Timestamp when the dataset was created.
                    updated_at:
                      type: string
                      format: date-time
                      description: Timestamp when the dataset was last updated.
              examples:
                multiple_datasets:
                  summary: Example with multiple datasets
                  value: 
                    - id: "dataset123"
                      use_case: "illustrative_style"
                      style_description: "A 2d vibrant and colorful flat illustration."
                      name: "My Illustrations"
                      images_count: 10
                      status: "completed"
                      created_at: "2024-05-26T12:00:00Z"
                      updated_at: "2024-05-26T12:00:00Z"
                    - id: "dataset124"
                      use_case: "illustrative_character"
                      style_description: "A 2d illustration of a bear"
                      name: "Character bear"
                      images_count: 5
                      status: "draft"
                      created_at: "2024-05-26T12:00:00Z"
                      updated_at: "2024-05-26T12:00:00Z"
                no_datasets:
                  summary: Example with no datasets
                  value: []
        '401':
          description: Unauthorized.
        '500':
          description: Internal server error.
  /datasets/{id}:
    get:
      tags:
        - Tailored Generation
      summary: /datasets/{id} (Coming Soon)
      description: >-
        **Description**
  
        Retrieve a specific dataset by its ID. The response includes all the details of the dataset and an array of associated images.
      operationId: getDatasetById
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
          description: API token associated with the organization.
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the dataset to retrieve.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the dataset.
                  use_case:
                    type: string
                    description: Specifies the use case of the dataset.
                  style_description:
                    type: string
                    description: Description of the visual style.
                  name:
                    type: string
                    description: Name of the dataset.
                  status:
                    type: string
                    description: Status of the dataset.
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the image.
                        name:
                          type: string
                          description: Name of the image.
                        caption:
                          type: string
                          description: Caption for the image describing the illustration.
                        file_url:
                          type: string
                          description: URL of the image file.
                        created_at:
                          type: string
                          format: date-time
                          description: Timestamp when the image was created.
                  created_at:
                    type: string
                    format: date-time
                    description: Timestamp when the dataset was created.
                  updated_at:
                    type: string
                    format: date-time
                    description: Timestamp when the dataset was last updated.
              example:
                id: "dataset123"
                use_case: "illustrative_style"
                style_description: "A 2d vibrant and colorful flat illustration."
                name: "My Illustrations"
                status: "draft"
                images:
                  - id: "image123"
                    name: "Illustration1"
                    caption: "A vibrant 2D illustration of a sunny day with children playing in a park."
                    file_url: "https://example.com/image1.png"
                    created_at: "2024-05-26T12:00:00Z"
                  - id: "image124"
                    name: "Illustration2"
                    caption: "A colorful 2D illustration depicting a busy city street with various shops and people."
                    file_url: "https://example.com/image2.png"
                    created_at: "2024-05-26T12:00:00Z"
                created_at: "2024-05-26T12:00:00Z"
                updated_at: "2024-05-26T12:00:00Z"
        '401':
          description: Unauthorized.
        '404':
          description: Dataset with the specified ID does not exist.
        '500':
          description: Internal server error.
  /datasets/update/{id}:
    put:
      tags:
        - Tailored Generation
      summary: /datasets/update/{id} (Coming Soon)
      description: >-
        **Description**
  
        Update the details of a specific dataset by its ID. If the status of the dataset is `completed`, the `style_description` and `use_case` cannot be updated. Additionally, if the status is `completed`, it cannot be returned to `draft` if a model has already been trained based on it.
      operationId: updateDataset
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
          description: API token associated with the organization.
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the dataset to update.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                use_case:
                  type: string
                  description: Specifies the use case of the dataset. Accepted values are "illustrative_style" and "illustrative_character".
                  example: "illustrative_style"
                style_description:
                  type: string
                  description: Description of the visual style.
                  example: "A 2d vibrant and colorful flat illustration."
                name:
                  type: string
                  description: Name of the dataset.
                  example: "Updated Illustrations"
                status:
                  type: string
                  enum: [completed, draft]
                  description: Status of the dataset.
                  example: "completed"
      responses:
        '200':
          description: Dataset successfully updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the dataset.
                  use_case:
                    type: string
                    description: Specifies the use case of the dataset.
                  style_description:
                    type: string
                    description: Description of the visual style.
                  name:
                    type: string
                    description: Name of the dataset.
                  status:
                    type: string
                    description: Status of the dataset.
                  created_at:
                    type: string
                    format: date-time
                    description: Timestamp when the dataset was created.
                  updated_at:
                    type: string
                    format: date-time
                    description: Timestamp when the dataset was last updated.
              example:
                id: "dataset123"
                use_case: "illustrative_style"
                style_description: "A 2d vibrant and colorful flat illustration."
                name: "Updated Illustrations"
                status: "completed"
                created_at: "2024-05-26T12:00:00Z"
                updated_at: "2024-05-26T12:00:00Z"
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '404':
          description: Dataset with the specified ID does not exist.
        '409':
          description: Conflict.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message.
              examples:
                status_conflict:
                  value:
                    error: "The status of a completed dataset cannot be changed to draft if a model has already been trained based on it."
                use_case_conflict:
                  value:
                    error: "The use_case cannot be updated for a completed dataset."
                style_description_conflict:
                  value:
                    error: "The style_description cannot be updated for a completed dataset."
        '500':
          description: Internal server error.
  /{visual_id}/campaign_generator:
    post:
      tags:
          - Image
      summary: /{visual_id}/campaign_generator
      description: >-


        **Description**
        

        The campaign_generator Route enables users to create visual campaigns for various ad channels using a visual_id. 
        This route facilitates the generation of templates featuring diverse layouts that incorporate elements like text, 
        logos, and calls to action (CTA), tailored to various resolutions (placements) and target audiences. 
        
        
        Ad backgrounds are expanded to fit the necessary layout specifications. 


   
        **Examples**
        
        
        original image (Generated by Bria):
              
        
        <img src="https://images.bria.ai/images_resized/9949e626c333cdb1.png" width="400"/>
        
        
        Results:


        <img src="https://i.ibb.co/gDTVP8r/Sample-3-fixed.png" width="400"/>

      operationId: /campaign_generator
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                # sync:
                #  type: boolean
                #  description: "Synchronization status. Optional. Determines the response mode. When true, responses are synchronous. With false, responses are asynchronous, immediately providing URLs for images that are generated in the background. Use polling for the URLs to retrieve images once ready."
                #  default: false
                sid:
                  type: string
                  description: "Session ID. Optional. obtained from a previous route response. Optional."
                preset_id:
                  type: string
                  description: "Preset id. Optional. The brand preset that defines which logo, colors and typography should be used. If one isn’t provided, and some or none of the following are not provided (header1_color, header1_font, header1_size,header1_color, header1_font, header1_size, logo), the default public brand will be used."
                template_id:
                  type: string
                  description: "Template ID, Mandatory. template_id or layout_ids must be provided. You can contact Bria to get your own templates and layouts."
                layout_ids:
                  type: array
                  items:
                    type: string
                  description: "Layout IDs, Mandatory. the ids of the layouts to generate. template_id or layout_ids must be provided. You can contact Bria to get your own templates and layouts."
            #    public_template:
            #      type: boolean
            #      default: true
            #      description: "if template_id is provided, or layout_ids are provided this parameter will be ignored.
            #                    If true, a template will be sampled (based on the provided channels or placements) from the public templates. If false, a template will be sampled (based on the provided channels or placements) from the organization templates."
            #    channel_ids:
            #      type: array
            #      description: "Channel ids. Optional. Only channel_ids or placement_ids should be provided, not both. An error will be returned in case both are provided.
            #                    If both channel_ids and placement_ids are not provided, all the layouts under the selected template (either randomly or by the user) will be returned in the response."
            #      items:
            #        type: string
            #    placement_ids:
            #      type: array
            #      description: "Placement ids. Optional. Only channel_ids or placement_ids should be provided, not both. An error will be returned in case both are provided.
            #                    If both channel_ids and placement_ids are not provided, all the layouts under the selected template (either randomly or by the user) will be returned in the response."
            #      items:
            #        type: string
                logo:
                  type: string
                  description: "Logo URL. Optional. Supported inputs include public image URL or a URL inside Bria s3."
                cta:
                  type: string
                  description: "CTA image URL. Optional. Supported inputs include public image URL or a URL inside Bria s3."
                header1_text:
                  type: string
                  description: "Header1 text. Optional."
                header1_font:
                  type: string
                  description: "Header1 font. Optional. Supported inputs include public ttf URL or a URL inside Bria s3."
                header1_size:
                  type: integer
                  description: "Header1 size. Optional."
                header1_color:
                  type: array
                  items:
                    type: integer
                  description: "Header1 color in hex format. Optional."
                header2_text:
                  type: string
                  description: "Header2 text. Optional."
                header2_font:
                  type: string
                  description: "Header2 font. Optional. Supported inputs include public tiff URL or a URL inside Bria s3."
                header2_size:
                  type: integer
                  description: "Header2 size. Optional."
                header2_color:
                  type: array
                  items:
                    type: integer
                  description: "Header2 color in hex format. Optional."
                seed:
                  type: integer
                  description: "Seed used for image expansion. Optional. Use this to recreate the same ad."
                background_type:
                  type: string
                  enum: ["original", "generated", "solid"]
                  default: "original"
                  description: "Background type. Optional."
                bg_prompt:
                  type: string
                  description: "Background generation prompt. Mandatory when background_type is generated."
                bg_seed:
                  type: integer
                  description: "Background seed. Optional. Relevant when background_type is generated."
                bg_color:
                  type: string
                  description: "Background color in hex code. Mandatory when background_type is solid."
            examples:
              generation by template_id:
                value:
                  template_id: "71"
                  "header1_text": "Discover a world where innovation meets elegance. "
                  "header1_size": 66
                  "header1_font": "s3://bria-brands/Fonts/Poppins-Regular.ttf"
                  "header1_color": "#211469"
                  "header2_text": "Elevate your experience, because with us, the future is now."
                  "header2_size": 33
                  "header2_font": "s3://bria-brands/Fonts/Poppins-Regular.ttf"
                  "header2_color": "#261d54"
                  "logo": "https://labs.bria.ai/static/media/bria_logo.9ee1e12b.png"
              generation by layout_ids:
                value:
                  layout_ids: ["294"]
                  "header1_text": "Discover a world where innovation meets elegance. "
                  "header1_size": 66
                  "header1_font": "s3://bria-brands/Fonts/Poppins-Regular.ttf"
                  "header1_color": "#211469"
                  "header2_text": "Elevate your experience, because with us, the future is now."
                  "header2_size": 33
                  "header2_font": "s3://bria-brands/Fonts/Poppins-Regular.ttf"
                  "header2_color": "#261d54"
                  "logo": "https://labs.bria.ai/static/media/bria_logo.9ee1e12b.png"
      responses:
        '200':
          description: "Successful response with generated campaign visuals."
          content:
            application/json:
              schema:
                type: object
                properties:
                  template_id:
                    type: string
                    description: "Template ID used for generating ads."
                  ads:
                    type: array
                    items:
                      type: object
                      properties:
                        expansion_seed:
                          type: integer
                          description: "Seed used for the image expansion."
                        jpeg_file:
                          type: string
                          format: uri
                          description: "URL of the JPEG version of the ad."
                        png_file:
                          type: string
                          format: uri
                          description: "URL of the PNG version of the ad."
                        layout_id:
                          type: string
                          description: "Layout ID of the ad."
                        psd_file:
                          type: string
                          format: uri
                          description: "URL of the PSD version of the ad."
                        channel:
                          type: object
                          description: "Target marketing channel for the ad."
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        placement:
                          type: object
                          description: "The placement used for the ad."
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        canvas_size:
                          type: array
                          items:
                              type: integer
                          description: "The size of the returned campaign image"
                        bg_seed:
                          type: integer
                          description: "Background seed used in generation."
                        template_id:
                          type: string
                          description: "Template ID of the ad."
              examples:
                example:
                  value:
                    {
                      "ads": [
                        {
                          "bg_seed": null,
                          "canvas_size": [
                            1200,
                            627
                          ],
                          "channel": {
                            "id": 7,
                            "name": "Amazon"
                          },
                          "expansion_seed": 4046260470,
                          "jpeg_file": "jpg_file_url",
                          "layout_id": "120",
                          "placement": {
                            "id": 54,
                            "name": "Amazon 1200x627"
                          },
                          "png_file": "png_file_url",
                          "psd_file": "psd_file_url",
                          "template_id": null
                        }
                      ]
                    }

        '400':
          description: Bad request.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /register:
    post:
      tags:
        - Image Onboarding
      summary: /register
      description: >-

        **Description**


        A new visual can be registered to Bria without being uploaded to the database using the *Register Route*.
        
        This route returns a visual identification to the user. This is the recommended method to onboard images to Bria, when needed.
        
        
        It's the first step for consuming the Bria API for new visuals (instead of using the /upload route).


        **Response**

          
          The visual id in the response of the *Register Route* must be kept by the
        user in order to query image info, modify the image and use the search routes.


        ```{ "visual_id": "9ea9a4d2d19977a7c" }```


        The *visual_id* in the response of the /upload route will be used for all
        other routes.
        Store the visual_id in your database and map it to your image identification method for easy reference


        **Bria generative Web tool**


        The registered visual can be seen and used in the Bria generative web tool
        in cases where the tool is licensed as part of the project.


        To do so, the user can access the following url:
        ```https://labs.bria.ai/gallery/{visual_id}```, where the *{visual_id}*
        comes from the response of the */upload route*.



        **Constraints**


        Files should not be larger than 12MB. The status code 413 will be returned if the file exceeds its
        maximum size.
        
        
        The Bria API currently supports only JPEG and PNG files in RGB, RGBA, or CMYK color modes. When the file is of a different type or color mode, the status code 415 will be returned.
        
      operationId: register
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                org_image_key:
                  type: string
                  description: The internal image id in your API, of the image you would like to register to Bria. If accessing your images requires authentication, you will be able to register them using org_image_key only after giving Bria the API authentication information. It is also possible to register images using an org_image_key, without any authentication data.
                image_url:
                  description: The URL of the image you would like to register to Bria. The URL should lead to an image publicly available online. Either an org_image_key or an image_url should be provided. If both are provided, then the route will use image_url and org_image_key will be saved but not used. Images can only be registered using an image_url if they do not require authentication.
                  type: string
                is_private:   
                  description: The image can be included in the Bria public gallery (is_private=false) or only in the Bria gallery of your organization (is_private=true). This parameter is optional and the default value is true.
                  type: string
                  default: true
            examples:
                only image_url:
                  value:
                    image_url: "https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg"
                only org_image_key:
                  value:
                    org_image_key: "12345acbd"
                image_url & org_image_key:
                  value:
                    image_url: "https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg"
                    org_image_key: "12345acbd"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  visual_id:
                    type: string
                    description: Unique visual identification
        '208':
          description: Image already registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  visual_id:
                    type: string
                    description: Unique visual identification
        '400':
          description: Bad request.
        '405':
          description: Method not allowed.
        '460':
          description: Failed to download image.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /upload:
    post:
      tags:
        - Image Onboarding
      summary: /upload
      description: >-

        **Description**


        The *Upload Route* is used to upload visuals to the database. 

        This route returns a visual identification to the user. 
        
        The /register route is the recommended method to onboard images to Bria, when needed. 


        **Response**

        
          The visual id in the response of the *Upload Route* must be kept by the
        user in order to query image info, modify the image and use the search routes.


        ```{ "visual_id": "9ea9a4d2d19977a7c" }```


        The *visual_id* in the response of the /upload route will be used for all
        other routes.
        Store the visual_id in your database and map it to your image identification method for easy reference


        **Bria generative Web tool**


        The uploaded visual can be seen and used in the Bria generative web tool
        in cases where the tool is licensed as part of the project.


        To do so, the user can access the following url:
        ```https://labs.bria.ai/gallery/{visual_id}```, where the *{visual_id}*
        comes from the response of the */upload route*.



        **Constraints**


        Files should not be larger than 12MB. The status code 413 will be returned if the file exceeds its
        maximum size.
        
        
        The Bria API currently supports only JPEG and PNG files in RGB, RGBA, or CMYK color modes. When the file is of a different type or color mode, the status code 415 will be returned.

        
        **Upload using a file**

        
          In our documentation request example, we demonstrate how to upload an image using a URL.
          
          
          If you want to upload an image from a file, follow the example below:

      
              import requests
      
              url = "https://engine.prod.bria-api.com/v1/upload"
      
              payload = {}
              files=[
                ('file',('image_name.jpeg',open('/path_to_local_file/image_name.jpeg','rb'),'image/jpeg'))
              ]
              headers = {
                'api_token': 'xxxx'
              }
      
              response = requests.request("POST", url, headers=headers, data=payload, files=files)
      
              print(response.text)
       

      operationId: upload
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  description: The file you would like to upload to Bria.
                  type: string
                  format: binary
                image_url:
                  description: The URL of the file you would like to upload to Bria. The URL should lead to an image publicly available online. Either a file or an image_url should be provided. If both are provided, then the route will use image_url.
                  type: string
                is_private:   
                  description: The image can be included in the Bria public gallery (is_private=false) or only in the Bria gallery of your organization (is_private=true). This parameter is optional and the default value is true.
                  type: string
                  default: true
            examples:
                image url:
                  value:
                    image_url: "https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg"
                
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  visual_id:
                    type: string
                    description: Unique visual identification
        '206':
          description: File value was not provided.
        '208':
          description: File already uploaded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  visual_id:
                    type: string
                    description: Unique visual identification
        '400':
          description: Request doesn't contain file part.
        '405':
          description: Method not allowed.
        '413':
          description: Request entity too large.
        '415':
          description: Unsupported media type.
        '460':
          description: Failed to download image.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.   
  /{visual_id}/remove_image:
    post:
      tags:
        - Image Onboarding
      summary: /{visual_id}/remove_image
      description: >-

        **Description**


        With this route, you can remove an image from the gallery of your organization. The image won't be removed from Bria.

        
      operationId: remove_image
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          schema:
            type: string
          required: true
          example: "b3cecc33cc31cc31"
      responses:
        '200':
          description: Successful operation.
        '400':
          description: Bad request.
        '405':
          description: Method not allowed.
        '460':
          description: Failed to download image.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /{visual_id}/info:
    get:
      tags:
        - Image Onboarding
      summary: /{visual_id}/info
      description: >-



        **Description**


        The *Info Route* is used to retrieve useful information on a specific
        visual that was previously uploaded or registered.

        
        Additionally, it provides the following:
        
        1) A description of each object and element within the scene 
        
        
        2) The available changes, which are supported by the Bria API for each object and element


        3) The Oracle value for each available change. The orcale value predicts the quality of the result, for each possible action. 
        
        The possible oracle values for object removal or background actions are true and false. 
        
        The possible values for person modification are high, medium, and low. 
       


      operationId: info
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
          example: "8487fb411f3c6716"
          description: visual id of the image, received after using the /upload or /register route.
        - in: query
          name: lean
          schema:
            type: boolean
            default: false
          description: Set the value 'true' for this parameter if you wish to receive only the high-level information (currently, this means only the description, org_height, and org_width) from the info route. This parameter is optional and as default the value is 'false'. 
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    description: (Coming Soon) A brief description of the visual
                  org_height:
                    type: integer
                    description: The height of the image
                  org_width:
                    type: integer
                    description: The width of the image
                  scene:
                    type: array
                    description: An array of objects representing each of the elements recognized in the visual.
                    items:
                      type: object
                      properties:
                        actions:
                          type: object
                          description: The available API actions for this specific element, based directly on its type and specificity
                        bg_overlap:
                          type: number
                          description: The percentage of the object's surface that is mutual with the background. This property is only available for elements with the label 'object'.
                        id:
                          type: string
                          description: The id of the element
                        labels:
                          type: array
                          description: The known information about the element, such as age range and gender
                        oracle:
                          type: object
                          description: The predicted quality of the available actions for this specific element
                        rect:
                          type: object
                          description: The location of the element inside the image. x and y represent the upper left corner of the object, and by using the w (width) and h (height) you can create a rectangle around the element.
                        type:
                          type: string
                          description: The type of the element
              examples:
                example:
                  value:
                    description: Coming Soon
                    scene: [
                      {
                        actions: 
                          {
                          "age":[
                             "mid-20",
                             "mid-40",
                             "mid-60"
                          ],
                          "Beard":[
                             "shaved",
                             "medium",
                             "full"
                          ],
                          "diversity":[
                             "africa",
                             "korea",
                             "india",
                             "japan",
                             "sweden",
                             "germany",
                             "russia",
                             "mexico",
                             "brazil",
                             "england",
                             "spain",
                             "france"
                          ],
                          "expression":[
                             "happy",
                             "surprised",
                             "dreaming",
                             "angry",
                             "fear",
                             "contempt",
                             "disgusted",
                             "sad"
                          ],
                          "gender":[
                             "femininity",
                             "masculinity"
                          ],
                          "glasses":[
                             "light",
                             "none",
                             "heavy"
                          ],
                          "hair_line":[
                             "high",
                             "low"
                          ],
                          "haircolor":[
                             "black",
                             "brown",
                             "red",
                             "blond",
                             "gray"
                          ],
                          "makeup":[
                             "light",
                             "heavy",
                             "none"
                          ]
                          },
                        id: a48284e4832c809e4475ad5de7bdd333658e363b417a28991022a6fa79488a6b,
                        labels:
                          [
                            "age_23-35",
                            "calm"
                          ],
                        oracle:
                          {
                            "age":{
                               "age":"high"
                            },
                            "Beard":{
                               "Beard":"high"
                            },
                            "diversity":{
                               "africa":"high",
                               "brazil":"high",
                               "england":"high",
                               "france":"high",
                               "germany":"high",
                               "india":"high",
                               "japan":"high",
                               "korea":"high",
                               "mexico":"high",
                               "russia":"high",
                               "spain":"high",
                               "sweden":"high"
                            },
                            "expression":{
                               "angry":"high",
                               "contempt":"high",
                               "disgusted":"high",
                               "dreaming":"high",
                               "fear":"high",
                               "happy":"high",
                               "surprised":"high"
                            },
                            "gender":{
                               "gender":"high"
                            },
                            "glasses":{
                               "glasses":"high"
                            },
                            "hair_line":{
                               "hair_line":"high"
                            },
                            "haircolor":{
                               "haircolor":"high"
                            }
                         },
                        type: person
                      },
                      {
                          "id": "0a349cbe603a786570d4eec7dd9cf64e568ef72767a5847251b32988a2b99dff",
                          "type": "chair",
                          "labels": [
                              "object"
                          ],
                          "rect": {
                              "x": 647.4609375,
                              "y": 3910.6640625,
                              "w": 1139.53125,
                              "h": 2071.875
                          },
                          "actions": {
                              "remove": [
                                  true
                              ],
                              "replace": [
                                  true
                              ]
                          },
                          "oracle": {
                              "remove": true
                          },
                          "bg_overlap": 0.4
                      },
                      {
                        actions:
                          {
                            "remove":[
                               true
                            ]
                          },
                        id: 26bf1a1e6b7c5a802b804a52be420a14e44c7d4a393d695afb9d58c9f869cac3,
                        labels: null,
                        oracle:
                          {
                            "remove":true
                          },
                        type: background
                                      }
                    ]
        '205':
          description: File hasn’t finished onboarding. Please call /info again until you get 200.
        '400':
          description: One of the details does not meet specification. Please call /info again.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /{visual_id}/background/info:
    get:
      tags:
        - Background
      summary: /{visual_id}/background/info
      description: >-



        **Description**


        The *Background/Info Route* is used to retrieve useful information on the background of a specific
        visual that was previously uploaded to the database.

        
        Additionally, it provides the following:

        
        1) The available background actions, which are supported by the Bria API.


        1) The Oracle value for each available action. The orcale value predicts the quality of the result, for each possible action. 
        
        The possible oracle values for background actions are true and false. 
               
        
        This route should be used instead of the main /info route when you are only interested in 
        the available actions for the background of the image. 
        With this route, you will save runtime by only obtaining information that is relevant to your needs.

      operationId: background/info
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
          example: "f49943971e3039c7"
          description: visual id of the image, received after using the /upload or register route.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The id of the background
                    type:
                      type: string
                      description: In this route it will always be 'background'
                    labels:
                      type: array
                      description: In this route currently it's null
                    rect:
                      type: object
                      description: In this route currently it's null
                    actions:
                      type: object
                      description: The available API actions for the background
                    oracle:
                      type: object
                      description: The predicted quality of the available actions for the background
              examples:
                example:
                  value:
                    {
                      "id": "67a9746d4c7939e2753869cdb4330852b6e2472b8110ae1fb59f8c033fc7fe1f",
                      "type": "background",
                      "labels": null,
                      "rect": null,
                      "actions": {
                          "remove": [
                              true
                          ],
                          "blur": [
                              true
                          ],
                          "replace": [
                              true
                          ]
                      },
                      "oracle": {
                          "remove": true,
                          "blur": true,
                          "replace": true
                      }
                  }
        '205':
          description: File hasn’t finished onboarding. Please call /info again until you get 200.
        '400':
          description: One of the details does not meet specification. Please call person/info again.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /{visual_id}/objects/info:
    get:
      tags:
        - Object
      summary: /{visual_id}/objects/info
      description: >-



        **Description**


        The *Objects/Info Route* is used to retrieve useful information on the objects in a specific
        visual that was previously uploaded to the database.

        
        Additionally, it provides the following:

        
        1) The available object actions, which are supported by the Bria API.


        1) The Oracle value for each available action. The orcale value predicts the quality of the result, for each possible action. 
        
        The possible oracle values for object actions are true and false. 
               
        
        This route should be used instead of the main /info route when you are only interested in 
        information and available actions for the objects in the image. 
        With this route, you will save runtime by only obtaining information that is relevant to your needs.

      operationId: objects/info
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
        - in: path
          name: visual_id
          required: true
          schema:
            type: string
          example: "92bf8ce17584de82"
          description: visual id of the image, received after using the /upload or register route.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The id of the object
                    type:
                      type: string
[...]
